@use '../styles/mg-input.scss';
@use '../styles/mg-input-fieldset.scss';
@use '../../../../styles/a11y.scss';

$checkbox-multi-spacer: 0.4rem;

/**
* checkbox multi
*/
.mg-input.mg-input--checkbox-multi {
  .mg-input__input-checkbox-multi {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--mg-inputs-spacer) * 1.2);
    &--with-values.mg-input__input-checkbox-multi {
      gap: $checkbox-multi-spacer;
    }
    &-values-container {
      display: flex;
      flex-wrap: wrap;
      gap: $checkbox-multi-spacer;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    &-value {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      min-height: var(--default-size);
      min-width: var(--default-size);
      padding: calc((var(--default-size) - 0.2rem - var(--font-size) * var(--line-height)) / 2) 1.1rem;
      background-color: var(--mg-color-dark-5-hsl);
      border-radius: 0.3rem;
      font-size: var(--font-size);
    }
    &-no-result {
      text-align: center;
    }
  }
  .mg-input__input-checkbox-multi-inputs {
    margin: 0;
  }
  &:not(.mg-input--label-on-top) mg-tooltip {
    margin-left: var(--mg-inputs-spacer);
  }
  mg-popover {
    --mg-popover-min-width: 7rem;
    [slot='content'] {
      display: flex;
      flex-direction: column;
      gap: calc(#{$checkbox-multi-spacer} * 2);
    }
  }
  mg-input-text {
    --mg-inputs-margin-bottom: 0;
  }
}
