<div>
  <mg-menu label="test">
    <mg-menu-item href="https://angularjs.org/">
      <span slot="label">AngularJS</span>
      <img slot="image" src="/angular.svg" class="logo vanilla" alt="AngularJS logo" />
    </mg-menu-item>
    <mg-menu-item href="https://vitejs.dev" status="active">
      <span slot="label">viteJS</span>
      <img slot="image" src="/vite.svg" class="logo" alt="Vite logo" />
      <mg-badge slot="information" label="badge" value="{{$ctrl.counter}}"></mg-badge>
    </mg-menu-item>
  </mg-menu>
  <h1>Hello Vite!</h1>
  <div class="card">
    <mg-button id="button" type="button" ng-click="$ctrl.handleClick()" variant="secondary"
      >count <mg-badge label="badge" value="{{$ctrl.counter}}" ng-if="$ctrl.counter > 0"></mg-badge
    ></mg-button>
    <mg-modal
      modal-title="{{$ctrl.modal.modalTitle}}"
      ng-prop-hide="$ctrl.modal.hide"
      close-button
      ng-on-component-hide="$ctrl.handleModalHide(true)"
      ng-on-component-show="$ctrl.handleModalHide(false)"
    >
      <div slot="content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </div>
    </mg-modal>
  </div>
  <p class="read-the-docs">Click on the Vite logo to learn more</p>
</div>
