@use 'sass:map';

$border-bottom-size: 0.3rem;
$font-size-large: calc(var(--mg-b-font-size) + 0.2rem);
$navigation-button-column-gap: 1rem;

@mixin navigation-button($prefix, $button-sizes) {
  @each $name, $size in $button-sizes {
    .#{$prefix}.#{$prefix}--size-#{$name} .#{$prefix}__navigation-button,
    .#{$prefix}__navigation-button.#{$prefix}__navigation-button--size-#{$name} {
      height: #{map.get($size, 'height')};
      padding: #{map.get($size, 'vertical')} #{map.get($size, 'horizontal')};

      &,
      ::slotted([slot='label']),
      ::slotted([slot='metadata']) {
        @if $name == 'regular' {
          font-size: var(--mg-b-font-size);
        } @else {
          font-size: $font-size-large;
        }
      }
      &.#{$prefix}__navigation-button--horizontal {
        padding-bottom: calc(#{map.get($size, 'vertical')} - #{$border-bottom-size});
      }
      &.#{$prefix}__navigation-button--vertical {
        padding-left: calc(#{map.get($size, 'horizontal')} - #{$border-bottom-size});
      }
    }
  }

  .#{$prefix}__navigation-button {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border: none;
    background-color: unset;
    color: var(--#{$prefix}-color, var(--mg-b-color-dark));
    column-gap: var(--#{$prefix}-navigation-button-column-gap, $navigation-button-column-gap);
    cursor: pointer;
    font-family: var(--mg-b-font-family);
    font-weight: 400;
    line-height: var(--mg-b-line-height);
    text-decoration: none;
    white-space: nowrap;

    &:disabled,
    &--disabled {
      cursor: default;
      opacity: var(--mg-b-disabled-opacity);
    }

    &:focus-visible {
      z-index: 10;
    }
    &:hover:not(.#{$prefix}__navigation-button--disabled),
    &:focus-visible:not(.#{$prefix}__navigation-button--disabled) {
      background-color: var(--#{$prefix}-focused-background-color);
    }
    &.#{$prefix}__navigation-button--active {
      color: var(--#{$prefix}-color-active);
      font-weight: 600;
      &.#{$prefix}__navigation-button--horizontal {
        border-bottom-color: var(--#{$prefix}-border-color-active);
      }
      &.#{$prefix}__navigation-button--vertical {
        border-left-color: var(--#{$prefix}-border-color-active);
      }
    }
    &.#{$prefix}__navigation-button--hidden {
      display: none;
    }
    &.#{$prefix}__navigation-button--horizontal {
      border-bottom: $border-bottom-size solid transparent;
    }
    &.#{$prefix}__navigation-button--vertical {
      border-left: $border-bottom-size solid transparent;
    }
  }
}
