@use 'sass:map';

$border-bottom-size: 0.3rem;
$font-size-large: calc(var(--font-size) + 0.2rem);
$navigation-button-column-gap: 1rem;

@mixin navigation-button($element, $custom-property-prefix, $button-sizes) {
  @each $name, $size in $button-sizes {
    .#{$element}.#{$element}--size-#{$name} .#{$element}__navigation-button,
    .#{$element}__navigation-button.#{$element}__navigation-button--size-#{$name} {
      height: #{map.get($size, 'height')};
      padding: #{map.get($size, 'vertical')} #{map.get($size, 'horizontal')};

      &,
      ::slotted([slot='label']),
      ::slotted([slot='metadata']) {
        @if $name == 'regular' {
          font-size: var(--font-size);
        } @else {
          font-size: $font-size-large;
        }
      }
      &.#{$element}__navigation-button--horizontal {
        padding-bottom: calc(#{map.get($size, 'vertical')} - #{$border-bottom-size});
      }
      &.#{$element}__navigation-button--vertical {
        padding-left: calc(#{map.get($size, 'horizontal')} - #{$border-bottom-size});
      }
    }
  }

  .#{$element}__navigation-button {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border: none;
    background-color: unset;
    color: hsl(var(--#{$custom-property-prefix}-color-hsl, var(--color-dark)));
    column-gap: var(--#{$custom-property-prefix}-navigation-button-column-gap, $navigation-button-column-gap);
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: var(--line-height);
    text-decoration: none;
    white-space: nowrap;

    &:disabled,
    &--disabled {
      cursor: default;
      opacity: var(--mg-disabled-opacity);
    }

    &:focus-visible {
      z-index: 10;
    }
    &:hover:not(.#{$element}__navigation-button--disabled),
    &:focus-visible:not(.#{$element}__navigation-button--disabled) {
      background-color: hsl(var(--#{$custom-property-prefix}-focused-background-color-hsl) / 10%);
    }
    &.#{$element}__navigation-button--active {
      color: hsl(var(--#{$custom-property-prefix}-color-active-hsl));
      font-weight: 600;
      &.#{$element}__navigation-button--horizontal {
        border-bottom-color: hsl(var(--#{$custom-property-prefix}-border-color-active-hsl));
      }
      &.#{$element}__navigation-button--vertical {
        border-left-color: hsl(var(--#{$custom-property-prefix}-border-color-active-hsl));
      }
    }
    &.#{$element}__navigation-button--hidden {
      display: none;
    }
    &.#{$element}__navigation-button--horizontal {
      border-bottom: $border-bottom-size solid transparent;
    }
    &.#{$element}__navigation-button--vertical {
      border-left: $border-bottom-size solid transparent;
    }
  }
}
