node_modules
dist

docs
!packages/mg-components/**/docs

coverage
playwright-report
temp
tsconfig.tsbuildinfo
.vscode/numbered-bookmarks.json
.turbo
.nyc_output
.DS_Store
.env
.stencil
www
loader
build
*.tgz
.idea