# Note: Prettier also ignores files in .gitignore
pnpm-lock.yaml
.changeset/*.md
CHANGELOG.md

# Stencil generated components docs
apps/stencil/src/components/**/readme.md
packages/mg-components/src/components/**/readme.md
