.changeset/*.md
apps/stencil/src/components/**/readme.md
packages/mg-components/.storybook/docs/components.json
packages/mg-components/src/components/**/readme.md
packages/mg-components-helpers/doc/**/*.md
packages/stencil-helpers/doc/**/*.md