:host {
  // Display
  display: none;
  padding: 0.5rem 0.8rem;
  z-index: 1000;
  // Decoration
  border-radius: var(--mg-tooltip-border-radius);
  background-color: hsl(var(--mg-tooltip-background-color));
  // Font
  color: hsl(var(--mg-tooltip-font-color));
  text-align: start;
  max-width: 40rem;
  box-sizing: border-box;
}

:host([data-show]) {
  display: block;
}

.mg-tooltip-content__arrow {
  visibility: hidden;

  &::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }

  &,
  &::before {
    // Display
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    z-index: 9999;
    // Decoration
    background: inherit;
  }

  :host([data-popper-placement^='top']) > & {
    bottom: -4px;
  }

  :host([data-popper-placement^='bottom']) > & {
    top: -4px;
  }

  :host([data-popper-placement^='left']) > & {
    right: -4px;
  }

  :host([data-popper-placement^='right']) > & {
    left: -4px;
  }
}
