.mg-c-input__readonly-value {
  word-break: break-word;
  min-height: var(--mg-b-font-size);
  align-self: flex-start;
  margin-top: calc((var(--mg-b-size-min-height) - var(--mg-b-font-size) * var(--mg-b-line-height)) / 2);
}
