/**
 * Common style for MGDIS inputs
 */
$mg-input-breakpoint: 768px; /* stylelint-disable-line unit-disallowed-list */

:host {
  display: block;
}

mg-icon {
  .mg-c-input__input &,
  .mg-c-input__error & {
    display: flex;
  }
}

.mg-c-input {
  display: flex;
  max-width: 100%;
  min-height: var(--mg-b-default-size);
  align-items: flex-start;
  margin-bottom: var(--mg-c-input-margin-bottom, 0);

  &__error {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    margin-top: 0.2rem;
    background: var(--mg-c-input-error-bg-color);
    color: var(--mg-b-color-danger);
  }

  &__input-container {
    min-height: var(--mg-b-default-size);

    /* Readonly */
    & > ul {
      display: flex;
      flex-flow: column wrap;
      padding: 0;
      margin: 0;
      list-style: none;
      row-gap: 0.8rem;
    }

    & > strong {
      display: inline-block;
    }

    & > strong,
    & > ul {
      min-height: var(--mg-b-font-size);
      margin-top: calc((var(--mg-b-default-size) - var(--mg-b-font-size) * var(--mg-b-line-height)) / 2);
    }

    mg-tooltip {
      display: inline-flex;
      width: var(--mg-c-icon-regular-size);
      height: var(--mg-c-icon-regular-size);
      margin-left: var(--mg-c-input-spacer);
    }

    .mg-c-input__help-text,
    .mg-c-input__error {
      font-size: 1.2rem;
      text-align: start;
    }
  }

  &__input {
    display: flex;

    mg-tooltip {
      margin-top: calc((var(--mg-b-default-size) - var(--mg-c-icon-regular-size)) / 2);
    }

    &.mg-c-input__input--has-error {
      .mg-c-input__box {
        border-color: var(--mg-b-color-danger);
      }
    }

    /* Manage space between input and first message */
    & + .mg-c-input__help-text,
    & + .mg-c-input__error {
      margin-top: 0.5rem;
    }

    /* Set custom opacity on disabled input */
    .mg-c-input__box:disabled,
    &-group--disabled label,
    .mg-c-input.mg-c-input--toggle-disabled & .mg-c-input__button-toggle,
    .mg-c-input.mg-c-input--checkbox-multi-disabled & strong {
      opacity: var(--mg-b-disabled-opacity);
    }
  }

  /* Label */
  &__title {
    display: flex;
    width: var(--mg-c-input-title-width, auto);
    flex-shrink: 0;
    align-items: baseline;
    justify-content: flex-end;
    margin-top: calc((var(--mg-b-default-size) - var(--mg-b-font-size) * var(--mg-b-line-height)) / 2);
    margin-right: var(--mg-c-input-title-horizontal-space, var(--mg-c-input-spacer));
    text-align: right;

    mg-input-title + mg-tooltip {
      margin-left: 0.4rem;
    }

    mg-icon {
      display: inline-flex;
      vertical-align: text-bottom;
    }
  }

  /* Label-on-top */
  @mixin label-on-top-styles {
    flex-direction: column;

    .mg-c-input__title {
      width: auto;
      justify-content: flex-start;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0.3rem;
      text-align: left;

      mg-input-title {
        width: 100%;
        flex-shrink: 1;
      }
    }

    .mg-c-input__input-container {
      width: 100%;
    }
  }

  &.mg-c-input--label-on-top {
    @include label-on-top-styles;
  }

  @media screen and (max-width: ($mg-input-breakpoint - 1px)) {
    @include label-on-top-styles;
  }
}
