@use '../functions' as functions;

/**
 * Style for input "box":
 * - input[type="text"]
 * - input[type="date"]
 * - input[type="password"]
 * - textarea
 * - select
 */

.mg-c-input {
  &__box {
    height: var(--mg-b-size-min-height);
    box-sizing: border-box;
    padding: calc((var(--mg-b-size-min-height) - var(--mg-b-font-size) * var(--mg-b-line-height)) / 2) var(--mg-b-size-8);
    border-width: var(--mg-c-input-border-width);
    border-style: solid;
    border-color: var(--mg-c-input-color-border);
    border-radius: var(--mg-c-input-border-radius);
    background-color: var(--mg-b-color-light);
    color: var(--mg-b-color-dark);
    font-family: inherit;
    font-size: var(--mg-b-font-size);
    text-align: var(--mg-c-input-text-align, left);

    // placeholder
    &::placeholder {
      color: var(--mg-c-input-placeholder-color-text);
      font-style: italic;
    }

    &:focus {
      box-shadow: 0 0 var(--mg-b-size-4) var(--mg-c-input-color-box-shadow-focus);
    }

    // disabled
    &:disabled {
      opacity: var(--mg-b-opacity-element-disabled);
    }

    // Error
    .mg-c-input.mg-c-input--has-error & {
      border-color: var(--mg-b-color-danger);
    }
  }

  /**
  * Variations
  */
  &.mg-c-input--is-input-group-append {
    // Input group button
    --mg-c-button-border-radius-top-left: 0;
    --mg-c-button-border-radius-bottom-left: 0;

    /**
    * Append input slot
    */
    .mg-c-input__box {
      margin-right: calc(-1 * var(--mg-b-size-border));
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;

      &:focus-visible {
        outline-offset: -0.2rem;
        outline-style: solid;
        outline-width: 0.2rem;
      }
    }
  }

  &.mg-c-input--has-buttons-group-append {
    ::slotted([slot='append-input']) {
      --mg-c-button-border-radius-top-right: 0;
      --mg-c-button-border-radius-bottom-right: 0;
    }

    ::slotted([slot='append-input']:not(:last-of-type)) {
      --mg-c-button-border-right-width: 0;
    }

    ::slotted([slot='append-input']:last-of-type) {
      --mg-c-button-border-radius-top-right: var(--mg-c-input-border-radius);
      --mg-c-button-border-radius-bottom-right: var(--mg-c-input-border-radius);
    }
  }

  &.mg-c-input--is-append-input-slot-content:not(.mg-c-input--readonly) ::slotted([slot='append-input']) {
    align-self: start;
    padding-top: calc((var(--mg-b-size-min-height) - functions.get-icon-size('medium')) / 2);
  }
}
