@use '../utils/a11y';
@use 'mixins/mg-icon-animation';

:host {
  --mg-c-popover-padding-vertical: var(--mg-b-size-8);
  --mg-c-popover-padding-horizontal: 0;
  --mg-c-popover-max-width: unset;
}

.mg-c-action-more {
  &__divider {
    --mg-c-divider-spacing-vertical: var(--mg-b-size-4);
  }

  &__chevron {
    @include mg-icon-animation.rotate('.mg-c-action-more__chevron', 200ms);
  }
}
