@use '../utils/a11y';
@use 'mixins/mg-icon-animation';

:host {
  --mg-c-popover-spacing-vertical: var(--mg-b-size-4);
  --mg-c-popover-spacing-horizontal: 0;
  --mg-c-popover-max-width: unset;
  --mg-c-popover-overflow: hidden;
}

.mg-c-action-more {
  &__divider {
    --mg-c-divider-spacing-vertical: 0.2rem;
  }

  &__chevron {
    @include mg-icon-animation.rotate('.mg-c-action-more__chevron', 200ms);
  }

  mg-menu-item {
    --mg-c-menu-item-button-margin-horizontal: var(--mg-b-size-4);
  }
}
