.mg-c-breadcrumb {
  display: block;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: inline;
    color: var(--mg-b-color-dark);
    font-weight: 700;

    &:not(:last-child)::after {
      content: '/';
      font-weight: 600;
      margin-inline: var(--mg-b-size-8);
    }
  }

  &__link {
    color: currentcolor;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    mg-icon {
      margin-block-start: 0.15rem;
      vertical-align: top;
    }
  }
}
