@use '../variables' as variables;
@import 'mixins/reset-mg-card-slotted-variables';

.mg-c-card {
  position: relative;
  z-index: inherit;
  overflow: var(--mg-c-card-overflow, var(--mg-c-card-overflow-default));
  width: 100%;
  min-width: var(--mg-c-card-min-width);
  max-width: var(--mg-c-card-max-width);
  box-sizing: border-box;
  padding: var(--mg-c-card-padding, var(--mg-c-card-padding-default));
  border: var(--mg-c-card-border, var(--mg-c-card-border-default));
  border-radius: var(--mg-c-card-border-radius, var(--mg-c-card-border-radius-default));
  background: var(--mg-c-card-background, var(--mg-c-card-background-default));
  box-shadow: var(--mg-c-card-box-shadow, var(--mg-c-card-box-shadow-default));

  @include reset-slot-card-variables;

  @each $variant, $color in join(variables.$app, variables.$semantics) {
    &.mg-c-card--#{$variant} {
      overflow: hidden;

      &.mg-c-card--bar-left .mg-c-card__bar {
        background-color: var(--mg-b-color-#{$variant});
      }

      &.mg-c-card--fill {
        background-color: var(--mg-b-color-#{$color}-#{variables.$palette-index-light}, color-mix(in srgb, var(--mg-b-color-#{$variant}), white 80%));
      }
    }
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--mg-b-size-v);
    height: 100%;
  }
}
