@use '../utils/a11y';

/*!
 * @prop --mg-c-details-spacing: Defines the spacing between the summary and the details. Default value: `--mg-b-size-8`.
 */

.mg-c-details {
  summary {
    display: inline-flex;
    align-items: baseline;
    cursor: pointer;
    gap: var(--mg-b-size-16);

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__toggle {
    display: flex;
    min-height: calc(var(--mg-b-font-size) * var(--mg-b-line-height));
    flex-shrink: 0;
    align-items: center;
    align-self: flex-start;
    gap: var(--mg-b-size-4);

    &-icon.mg-c-details__toggle-icon--reverse {
      transform: rotate(180deg);
    }
  }

  &__details {
    margin-top: var(--mg-c-details-spacing);
  }
}

/* hide toggle button when < 700px */
@media (width < 43.75rem) {
  .mg-c-details__toggle > span {
    @include a11y.visually-hidden;
  }
}
