.mg-c-divider {
  width: var(--mg-b-size-15w);
  height: var(--mg-c-divider-thickness);
  margin: var(--mg-c-divider-vertical-spacing) auto;
  background-color: var(--mg-c-divider-background-color);

  &.mg-c-divider--full {
    width: 100%;
  }
}
