@import 'form';

.mg-c-form {
  --mg-c-input-title-width: var(--mg-c-form-inputs-title-width, 23rem);
  --mg-c-input-margin-bottom: 1.5rem;
  --mg-c-input-title-horizontal-space: 3rem;

  &.mg-c-form--all-required {
    --mg-c-input-title-display: none;
  }

  &.mg-c-form--label-on-top {
    --mg-c-input-margin-bottom: 2.5rem;
  }

  & > p {
    font-size: 1.2rem;
  }
}
