/**
 * Set mg-character-left with inputs
 */

mg-input-text, mg-input-textarea {
  mg-character-left {
    font-size: 1.1rem;
    opacity: 0.6;
  }

  &.mg-c-input--has-display-character-left .mg-c-input__input {
    & + .mg-c-input__help-text ::slotted(*),
    & + .mg-c-input__error ::slotted(*) {
      margin-top: 0;
    }
  }
}
