@use '../functions' as functions;
@use 'mg-input-box';
@use 'mg-input-width';
@use 'mg-input-readonly';
@use 'mg-input-character-left';
@use '../utils/a11y';

/**
* Character left
*/
.mg-c-input__with-character-left {
  position: relative;
  width: 100%;

  .mg-c-input.mg-u-is-focused & .mg-c-input__box {
    padding-right: max(var(--mg-c-character-left-message-length) * 0.6ch + var(--mg-b-size-16) * clamp(0, var(--mg-c-character-left-message-length), 1), var(--mg-b-size-8));
  }

  mg-character-left {
    position: absolute;
    top: 50%;
    right: var(--mg-b-size-8);
    display: none;
    font-size: var(--mg-b-font-size-small);
    opacity: 0.6;
    transform: translateY(-50%);

    .mg-c-input.mg-u-is-focused & {
      display: block;
    }
  }
}

.mg-c-input.mg-c-input--readonly b {
  min-height: var(--mg-b-font-size);
  margin-top: calc((var(--mg-b-size-min-height) - var(--mg-b-font-size) * var(--mg-b-line-height)) / 2);
}

/**
* Icon in input
*/
.mg-c-input.mg-c-input--has-icon .mg-c-input__with-character-left {
  & > mg-icon {
    position: absolute;
    top: 50%;
    left: var(--mg-b-size-8);
    color: var(--mg-c-input-color-icon);
    transform: translateY(-50%);
  }

  .mg-c-input__box {
    padding-left: calc(functions.get-icon-size('medium') + var(--mg-b-size-8) * 2);
  }
}
