/*!
 * @prop --mg-c-illustrated-message-spacing-vertical: Defines the vertical padding of the illustrated message. Default value: `--mg-b-size-40`.
 */

.mg-c-illustrated-message {
  display: flex;
  max-width: calc(60 * var(--mg-b-size-8)); // 480px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: var(--mg-c-illustrated-message-spacing-vertical) var(--mg-b-size-16);
  margin: auto;
  gap: var(--mg-b-size-16) var(--mg-b-size-64);
  text-align: center;

  &__illustration {
    max-height: calc(15 * var(--mg-b-size-8)); // 120px;

    ::slotted([slot='illustration']) {
      width: 100%;
      max-width: 100%;
      max-width: calc(15 * var(--mg-b-size-8)); // 120px;
      height: auto;
      max-height: calc(15 * var(--mg-b-size-8)); // 120px;
    }
  }

  &__slots {
    display: flex;
    flex-direction: column;
    gap: var(--mg-b-size-8);

    ::slotted([slot='title']) {
      margin: 0;
      font-family: var(--mg-b-font-family) !important; /* stylelint-disable-line declaration-no-important */
      font-size: var(--mg-b-font-size-h2) !important; /* stylelint-disable-line declaration-no-important */
      font-weight: 400 !important; /* stylelint-disable-line declaration-no-important */
    }

    ::slotted([slot='details']) {
      margin: 0;
    }
  }

  /**
   * Sizes
   */
  &.mg-c-illustrated-message--size-small {
    --mg-c-illustrated-message-spacing-vertical: var(--mg-b-size-24);

    .mg-c-illustrated-message__slots {
      gap: calc(var(--mg-b-size-4) / 2);
    }

    .mg-c-illustrated-message__illustration {
      max-height: var(--mg-b-size-64);

      ::slotted([slot='illustration']) {
        max-height: var(--mg-b-size-64);
      }
    }
  }

  &.mg-c-illustrated-message--size-large {
    .mg-c-illustrated-message__illustration {
      max-height: calc(23 * var(--mg-b-size-8)); // 184px;

      ::slotted([slot='illustration']) {
        max-height: calc(23 * var(--mg-b-size-8)); // 184px;
      }
    }
  }

  /**
   * Directions
   */
  &.mg-c-illustrated-message--direction-horizontal {
    max-width: unset;

    .mg-c-illustrated-message__slots {
      max-width: calc(60 * var(--mg-b-size-8)); // 480px;
    }
  }

  @container (width > 528px) {
    &.mg-c-illustrated-message--direction-horizontal {
      flex-direction: row;
      column-gap: var(--mg-b-size-48);
      text-align: left;

      .mg-c-illustrated-message__slots {
        max-width: unset;
      }

      .mg-c-illustrated-message__illustration {
        max-width: fit-content;
        flex: 1 0 auto;
        align-self: center;
      }

      &.mg-c-illustrated-message--size-small {
        column-gap: var(--mg-b-size-24);
      }

      &.mg-c-illustrated-message--size-large {
        column-gap: var(--mg-b-size-64);
      }
    }
  }
}

:host {
  display: block;
  container-type: inline-size;
}
