@use 'form';

/*!
 * @prop --mg-c-input-title-display: Defines the display property of the required indicator. Unset by default, fallback on `unset`.
 */

legend.mg-c-input-title {
  padding-right: 0;
  padding-left: 0;
}

.mg-c-input-title__required {
  display: var(--mg-c-input-title-display, unset);
}
