@use 'mg-input-box';
@use 'mg-input-width';
@use 'mg-input-readonly';
@use 'mg-input-character-left';
@use '../utils/a11y';
@use '../base/anchor';

/* Component Custom Style */
.mg-c-input {
  &__input {
    align-items: start;
  }

  &__box {
    display: block;
    height: auto;
    resize: none;

    &.mg-c-input__box--resizable {
      resize: both;
    }

    &.mg-c-input__box--resizable-horizontal {
      resize: horizontal;
    }

    &.mg-c-input__box--resizable-vertical {
      resize: vertical;
    }
  }

  /**
   * readonly
   */
  &.mg-c-input--readonly .mg-c-input__readonly-value {
    white-space: pre-line;
  }

  /**
   * Character left
   */

  &.mg-c-input--display-character-left {
    .mg-c-input__box {
      padding-bottom: var(--mg-b-size-24);
    }

    mg-character-left {
      right: calc(var(--mg-c-input-border-width) + 0.1rem);
      bottom: calc(var(--mg-c-input-border-width) + 0.1rem);
      padding: calc(var(--mg-b-size-4) / 2 - var(--mg-c-input-border-width)) calc(var(--mg-b-size-4) - var(--mg-c-input-border-width));
      border: var(--mg-c-input-border-width) solid var(--mg-c-input-color-border);
      border-right-width: 0;
      border-bottom-width: 0;
      background: var(--mg-b-color-neutral-0);
      border-bottom-right-radius: var(--mg-c-input-border-radius);
      border-top-left-radius: var(--mg-c-input-border-radius);
      opacity: initial;
      text-align: center;
    }
  }
}

/* Firefox selector */
/* stylelint-disable-next-line at-rule-no-vendor-prefix */
@-moz-document url-prefix() {
  .mg-c-input__box {
    overflow-x: hidden; // remove Firefox bottom "phantom scrollbar" in textarea
  }
}
