@use 'mg-input-readonly';
@use '../utils/a11y';
@use '../base/anchor';

/* Component Custom Style */

.mg-c-input__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-width: var(--mg-c-input-border-width);
  border-style: solid;
  border-color: var(--mg-c-input-color-border);
  border-radius: var(--mg-c-input-border-radius);
  background-color: var(--mg-b-color-light);

  &:focus-within {
    box-shadow: 0 0 var(--mg-b-size-4) var(--mg-c-input-color-box-shadow-focus);
    outline: Highlight auto 0.1rem;
    outline: -webkit-focus-ring-color auto 0.1rem;
  }

  .mg-c-input--has-error & {
    border-color: var(--mg-b-color-danger);
  }

  .mg-c-input--disabled & {
    opacity: var(--mg-b-opacity-element-disabled);
  }
}
