@import 'mg-input-box';
@import 'mg-input-width';
@import '../utils/a11y';

.mg-c-input.mg-c-input--password {
  .mg-c-input {
    &__input-group {
      position: relative;
    }

    &__append-button {
      position: absolute;
      right: 0;
    }

    &__box {
      padding-right: calc(var(--mg-b-size-min-height) + var(--mg-b-size-8));
    }
  }
}
