@import 'form';

legend.mg-c-input-title {
  padding-right: 0;
  padding-left: 0;
}

.mg-c-input-title {
  color: var(--mg-input-title-color, hsl(var(--color-dark)));

  &__required {
    display: var(--mg-input-title-display, unset);
  }
}
