/**
 * Set mg-character-left with inputs
 */

.mg-c-input.mg-c-input--display-character-left {
  mg-character-left {
    position: absolute;
    display: none;
    font-size: var(--mg-b-font-size-small);
    opacity: 0.6;
  }

  .mg-c-input__input {
    & + .mg-c-input__help-text ::slotted(*),
    & + .mg-c-input__error ::slotted(*) {
      margin-top: 0;
    }

    &-group-container {
      position: relative;
    }
  }

  &.mg-u-is-focused mg-character-left {
    display: block;
  }
}
