@import 'mg-input';
@import 'mg-input-box';
@import 'mg-input-width';
@import 'mg-input-character-left';
@import '../utils/a11y';

/* Component Custom Style */
.mg-c-input {
  &__box {
    display: block;
    height: auto;
    resize: none;

    &.mg-c-input__box--resizable {
      resize: both;
    }

    &.mg-c-input__box--resizable-horizontal {
      resize: horizontal;
    }

    &.mg-c-input__box--resizable-vertical {
      resize: vertical;
    }
  }

  &.mg-c-input--readonly .mg-c-input__input-container {
    white-space: pre-line;
  }
}

/**
  * Character left
  */

.mg-c-input__with-character-left {
  width: 100%;

  mg-character-left {
    display: block;
    margin-top: 0.2rem;
    text-align: end;
    visibility: hidden;

    .mg-c-input.mg-u-is-focused & {
      visibility: visible;
    }
  }
}

/* Firefox selector */
@-moz-document url-prefix() {
  .mg-c-input__box {
    overflow-x: hidden; // remove Firefox bottom "phantom scrollbar" in textarea
  }
}
