@use 'sass:list';
@use 'sass:map';
@use '../variables' as variables;
@use '../functions' as functions;
@import '../utils/a11y';

/*!
 * @prop --mg-c-icon-border-radius: Defines the border radius of icons. Default value is `50%`.
 */

:host {
  display: inline-flex;
  vertical-align: middle;
}

.mg-c-icon {
  color: currentcolor;

  @each $size in map.keys(variables.$icons) {
    $icon-size: functions.get-icon-size($size);
    $circle-size: list.nth(map.get(variables.$icons, $size), 2);
    &[size='#{$size}'],
    &.mg-c-icon--size-#{$size} {
      width: $icon-size;
      height: $icon-size;

      &[class*='mg-c-icon--variant-']:not(.mg-c-icon--variant-style-icon) {
        padding: calc((#{$circle-size} - #{$icon-size}) / 2);
      }
    }
  }

  @each $style in 'icon', 'background', 'full' {
    @each $variant, $color in list.join(variables.$app, variables.$semantics) {
      &.mg-c-icon--variant-#{$variant}.mg-c-icon--variant-style-#{$style} {
        @if $style == 'icon' or $style == 'full' {
          color: var(--mg-b-color-#{$variant});
        }

        @if $style == 'background' or $style == 'full' {
          background-color: var(--mg-b-color-#{$color}-#{variables.$palette-index-light}, color-mix(in srgb, var(--mg-b-color-#{$variant}), white 80%));
        }
      }
    }
  }

  &[class*='mg-c-icon--variant-'] {
    overflow: visible;
    border-radius: var(--mg-c-icon-border-radius);
  }
}

/**
* Animations
**/

.mg-c-icon--spin {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
