@use 'mg-input-readonly';
@use '../utils/a11y';
@use '../base/anchor';

/**
* Toggle
*/

.mg-c-input {
  &__toggle-item-container {
    $border-radius-value: calc(((var(--mg-b-font-size) * var(--mg-b-line-height)) + (2 * var(--mg-b-size-4))) / var(--mg-c-input-toggle-border-radius-ratio));

    overflow: hidden;
    box-sizing: border-box;
    padding: var(--mg-b-size-4) var(--mg-b-size-8);
    border-width: var(--mg-b-size-border);
    border-radius: $border-radius-value;
    color: var(--mg-b-color-neutral-110);
    font-weight: unset;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:first-of-type {
      border-style: solid;
      border-color: var(--mg-b-color-neutral-80);
      background-color: var(--mg-b-color-light);
      font-weight: 600;
    }
  }

  &__button-toggle {
    /* stylelint-disable scss/operator-no-newline-after */
    $border-radius-value: calc(
      ((var(--mg-b-font-size) * var(--mg-b-line-height)) + (2 * ((var(--mg-b-size-4) + var(--mg-b-size-4)) + var(--mg-c-input-border-width)))) /
        var(--mg-c-input-toggle-border-radius-ratio)
    );
    /* stylelint-enable scss/operator-no-newline-after */

    display: flex;
    overflow: hidden;
    min-width: 0;
    align-items: center;
    padding: 0.1rem;
    border-width: var(--mg-c-input-border-width);
    border-style: solid;
    border-color: var(--mg-b-color-neutral-80);
    border-radius: $border-radius-value;
    background-color: var(--mg-b-color-neutral-20);
    cursor: pointer;
    font-family: var(--mg-b-font-family);
    font-size: var(--mg-b-small-font-size);
    line-height: var(--mg-b-size-12);

    &:disabled {
      cursor: default;
    }

    &:focus {
      outline-offset: var(--mg-b-size-4);
    }
  }

  &.mg-c-input--toggle:not(.mg-c-input--readonly) .mg-c-input__button-toggle {
    margin-top: var(--mg-b-size-4);
  }

  // toggle default active variation
  &.mg-c-input--toggle-is-active {
    .mg-c-input {
      /* stylelint-disable-next-line no-descending-specificity */
      &__button-toggle {
        background-color: var(--mg-b-color-neutral-110);
      }

      &__toggle-item-container {
        &:first-of-type {
          border: unset;
          background-color: unset;
          color: var(--mg-b-color-light);
          font-weight: unset;
        }

        &:last-of-type {
          border-style: solid;
          background-color: var(--mg-b-color-neutral-20);
          font-weight: 600;
        }
      }
    }
  }

  // icon
  &.mg-c-input--toggle-icon {
    .mg-c-input {
      /* stylelint-disable-next-line no-descending-specificity */
      &__button-toggle {
        width: 100%;
        min-width: calc(var(--mg-b-size-20) * 2);
        max-width: calc(var(--mg-b-size-20) * 2);
      }
      /* stylelint-disable-next-line no-descending-specificity */
      &__toggle-item-container {
        display: flex;
        overflow: unset;
        min-width: var(--mg-b-size-20);
        max-width: var(--mg-b-size-20);
        height: var(--mg-b-size-20);
        align-items: center;
        justify-content: center;
        padding: 0;
        visibility: hidden;

        &:first-of-type {
          visibility: visible;
        }

        &:last-of-type {
          width: unset;
        }

        ::slotted(mg-icon) {
          display: flex;
        }
      }
    }

    &.mg-c-input--toggle-is-active .mg-c-input__toggle-item-container {
      &:first-of-type {
        min-width: unset;
        visibility: hidden;
      }

      &:last-of-type {
        margin-left: auto;
        visibility: visible;
      }
    }
  }

  // on/off
  &.mg-c-input--toggle-on-off.mg-c-input--toggle-icon .mg-c-input__toggle-item-container:first-of-type ::slotted(*) {
    display: none;
  }
}
