@use 'mg-input-box';
@use 'mg-input-width';
@use 'mg-input-readonly';
@use '../utils/a11y';

/**
 * Used to define width input
 * Kept it nested for coming widths
 */

@mixin input-width($input-size) {
  .mg-c-input__box {
    width: calc(
      var(--mg-b-size-16) + var(--mg-b-size-8) * 2 + #{$input-size} + var(--mg-b-size-min-height) + var(--mg-b-size-4)
    ); // glass icon + icon spacing + input width + button size + additional spacing
  }
}

.mg-c-input.mg-c-input--combobox {
  mg-popover {
    --mg-c-popover-padding-vertical: 0;
    --mg-c-popover-padding-horizontal: 0;
  }

  .mg-c-input {
    &__input-group-container {
      position: relative;
    }

    &__box {
      cursor: pointer;
    }

    &__popover-container {
      display: flex;
      min-width: var(--mg-c-input-list-width);
      max-height: calc(50 * var(--mg-b-size-8) - var(--mg-b-size-32));
      flex-direction: column;
      gap: var(--mg-b-size-4);
      overflow-y: scroll;
    }

    &__popover-info {
      padding: var(--mg-b-size-8);
      margin: 0;
      text-align: center;
    }

    &__load-more {
      padding: 0 var(--mg-b-size-8) var(--mg-b-size-4);
    }

    &__input-list {
      padding: 0;
      margin: 0;
      cursor: pointer;
      list-style: none;

      &-item {
        display: flex;
        padding: var(--mg-b-size-8);

        &:hover,
        &.mg-c-input__input-list-item--focus-visible {
          background-color: var(--mg-b-color-neutral-20);
        }

        &.mg-c-input__input-list-item--selected {
          font-weight: 700;

          mg-icon {
            margin-left: auto;
          }
        }
      }
    }
  }

  /* Width variants */
  &.mg-c-input--width-2 {
    @include input-width(var(--mg-b-size-24));
  }

  &.mg-c-input--width-4 {
    @include input-width(var(--mg-b-size-48));
  }

  &.mg-c-input--width-16 {
    @include input-width(calc(23 * var(--mg-b-size-8)));
  }

  &.mg-c-input--width-full {
    mg-popover {
      --mg-c-popover-max-width: var(--mg-c-input-list-width, var(--mg-c-popover-max-width));
    }

    .mg-c-input {
      &__input-group-container {
        display: flex;
        width: 100%;
      }

      &__box {
        flex: 1;
      }
    }
  }

  /* input append variant */
  &.mg-c-input--input-append .mg-c-input__box {
    padding-right: calc(var(--mg-b-size-min-height) + var(--mg-b-size-4)); // button size + button padding

    &-append {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
