@use 'sass:list';
@use 'sass:map';
@use '../variables' as variables;
@import '../utils/a11y';

/*!
 * @prop --mg-c-icon-size-small: Defines the size of small icons. Default value is `--mg-b-size-12`.
 * @prop --mg-c-icon-size-medium: Defines the size of medium icons. Default value is `--mg-b-size-16`.
 * @prop --mg-c-icon-size-large: Defines the size of large icons. Default value is `--mg-b-size-20`.
 * @prop --mg-c-icon-size-xlarge: Defines the size of extra large icons. Default value is `--mg-b-size-24`.
 * @prop --mg-c-icon-size-xxlarge: Defines the size of double extra large icons. Default value is `--mg-b-size-32`.
 * @prop --mg-c-icon-spacing-small: Defines the spacing of small icons. Default value is `calc(var(--mg-b-size-4) / 2)`.
 * @prop --mg-c-icon-spacing-medium: Defines the spacing of medium icons. Default value is `--mg-b-size-4`.
 * @prop --mg-c-icon-spacing-large: Defines the spacing of large icons. Default value is `calc(var(--mg-b-size-4) / 2 * 3)`.
 * @prop --mg-c-icon-spacing-xlarge: Defines the spacing of extra large icons. Default value is `--mg-b-size-8`.
 * @prop --mg-c-icon-spacing-xxlarge: Defines the spacing of double extra large icons. Default value is `--mg-b-size-8`.
 * @prop --mg-c-icon-border-radius: Defines the border radius of icons. Default value is `50%`.
 */

:host {
  display: inline-flex;
  vertical-align: middle;
}

.mg-c-icon {
  color: currentcolor;

  @each $size, $_, $_ in variables.$icons {
    &[size='#{$size}'],
    &.mg-c-icon--size-#{$size} {
      width: var(--mg-c-icon-size-#{$size});
      height: var(--mg-c-icon-size-#{$size});

      &[class*='mg-c-icon--variant-']:not(.mg-c-icon--variant-style-icon) {
        padding: var(--mg-c-icon-spacing-#{$size});
      }
    }
  }

  @each $style in 'icon', 'background', 'full' {
    @each $variant, $color in list.join(variables.$app, variables.$semantics) {
      &.mg-c-icon--variant-#{$variant}.mg-c-icon--variant-style-#{$style} {
        @if $style == 'icon' or $style == 'full' {
          color: var(--mg-b-color-#{$variant});
        }

        @if $style == 'background' or $style == 'full' {
          background-color: var(--mg-b-color-#{$color}-#{variables.$palette-index-light}, color-mix(in srgb, var(--mg-b-color-#{$variant}), white 80%));
        }
      }
    }
  }

  &[class*='mg-c-icon--variant-'] {
    overflow: visible;
    border-radius: var(--mg-c-icon-border-radius);
  }
}

/**
* Animations
**/

.mg-c-icon--spin {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
