@use '../variables' as variables;
@import 'mg-input-box';
@import 'mg-input-width';
@import '../utils/a11y';

.mg-c-input__box {
  padding-top: 0;
  padding-right: var(--mg-b-size-8);
  padding-bottom: 0;
}

@media screen and (max-width: (variables.$mg-input-breakpoint - 1px)) {
  .mg-c-input__box {
    width: 100%;
  }
}
