@use 'mg-input-box';
@use 'mg-input-readonly';
@use 'mg-input-width';
@use '../utils/a11y';

.mg-c-input.mg-c-input--password {
  .mg-c-input {
    &__input-icon {
      color: var(--mg-b-color-dark);
    }

    &__input-group {
      position: relative;
      flex-grow: 1;
    }

    &__append-button {
      position: absolute;
      right: 0;
    }

    &__box {
      padding-right: calc(var(--mg-b-size-min-height) + var(--mg-b-size-8));

      &::-ms-reveal {
        display: none;
      }
    }
  }
}
