.mg-c-illustrated-message {
  display: flex;
  max-width: 47.5rem;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: var(--mg-c-illustrated-message-padding-vertical) 1.5rem;
  margin: auto;
  gap: 3em 7rem;
  text-align: center;

  &__illustration {
    max-height: 18.4rem;

    ::slotted([slot='illustration']) {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 18.4rem;
    }

    &.mg-c-illustrated-message__illustration--small {
      max-height: 6rem;

      ::slotted([slot='illustration']) {
        max-height: 6rem;
      }
    }
  }

  &.mg-c-illustrated-message--horizontal {
    max-width: unset;
    flex-flow: row wrap;
    align-items: center;

    .mg-c-illustrated-message__slots,
    .mg-c-illustrated-message__illustration {
      max-width: 47.5rem;
    }
  }

  &__title ::slotted([slot='title']) {
    margin: 0;
    font-family: var(--mg-b-font-family) !important; /* stylelint-disable-line declaration-no-important */
    font-size: 2rem !important; /* stylelint-disable-line declaration-no-important */
    font-weight: 400 !important; /* stylelint-disable-line declaration-no-important */
  }

  &__details ::slotted([slot='details']) {
    margin: 2rem 0 0;
  }
}
