@import 'mg-input';
@import 'mg-input-box';
@import '../utils/a11y';

.mg-c-input__box {
  padding-top: 0;
  padding-right: 1rem;
  padding-bottom: 0;
}

@media screen and (max-width: ($mg-input-breakpoint - 1px)) {
  .mg-c-input__box {
    width: 100%;
  }
}
