@import '../utils/a11y';

:host {
  display: flex;
  background-color: var(--mg-c-menu-background-color, var(--mg-b-color-light));
}

:host([direction='vertical']) {
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}
