@use 'sass:list';
@use '../variables' as variables;
@use '../functions' as functions;
@import 'mixins/reset-mg-card-slotted-variables';

/*!
 * @prop --mg-c-message-border-radius: Defines the border radius of the message. Default value: `--mg-b-size-radius`.
 */

:host {
  // Set mg-card variables
  --mg-c-card-spacing: 0;
  --mg-c-card-border-radius: var(--mg-c-message-border-radius);
  --mg-c-card-border: none;
  --mg-c-card-overflow: hidden;
}

.mg-c-message {
  $icon-size: functions.get-icon-size('medium');

  display: inline-block;
  min-height: var(--mg-b-size-min-height);

  @each $semantic, $color in variables.$semantics {
    $variant: list.nth($semantic, 1);
    &.mg-c-message--#{$variant} {
      .mg-c-message__icon {
        color: var(--mg-b-color-#{$variant});
      }

      &.mg-c-message--bar-left .mg-c-message__bar {
        background-color: var(--mg-b-color-#{$variant});
      }

      &.mg-c-message--background {
        --mg-c-card-color-background: var(--mg-b-color-#{$color}-#{variables.$palette-index-light}, color-mix(in srgb, var(--mg-b-color-#{$variant}), white 80%));
      }
    }
  }

  ::slotted(*) {
    padding: 0;

    // Removing default marging to slotted element
    margin: 0;
  }

  &__icon {
    position: absolute;
    top: calc((var(--mg-b-size-min-height) - #{$icon-size}) / 2);
    left: calc(var(--mg-b-size-4) + var(--mg-b-size-8)); // vertical bar + spacing
    line-height: 1;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--mg-b-size-8) 0 calc(var(--mg-b-size-4) + var(--mg-b-size-8) + #{$icon-size} + var(--mg-b-size-8)); // vertical bar + spacing + icon + spacing;
    place-content: stretch flex-end;
  }

  &__content-slot {
    flex-grow: 1;
    margin: var(--mg-b-size-8) 0;
  }

  &__content-separator {
    display: inline-block;
    width: var(--mg-b-size-40);
    height: 0;
  }

  &__content-actions-slot {
    padding: var(--mg-b-size-8) 0;
    text-align: right;
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--mg-b-size-4);
    height: 100%;
  }

  @include reset-slot-card-variables;

  &,
  mg-message {
    max-width: 100%;
  }
}
