@import 'mixins/reset-mg-card-slotted-variables';

/*!
 * @prop --mg-c-modal-border-radius: Defines the border radius of the modal. Default value: `--mg-b-size-radius`.
 * @prop --mg-c-modal-title-font-size: Defines the font size of the modal title. Default value: `--mg-b-font-size-h3`.
 * @prop --mg-c-modal-content-font-size: Defines the font size of the modal content. Default value: `1.2rem`.
 */

:host {
  // Set mg-card variables
  --mg-c-card-border-radius: var(--mg-c-modal-border-radius);
  --mg-c-card-spacing: var(--mg-b-size-16) var(--mg-b-size-24);
  --mg-c-card-border: none;
}

.mg-c-modal {
  position: fixed;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mg-b-size-24) 0;
  background-color: color-mix(in srgb, var(--mg-b-color-light), transparent 15%);
  inset: 0;

  mg-card {
    display: flex;
    width: calc(75 * var(--mg-b-size-8)); // 600px
    max-width: 100%;
    max-height: 100%;
  }

  &__dialog {
    position: relative;
    display: flex;
    height: fit-content;
    max-height: 100%;
    flex-direction: column;
    align-self: center;
    row-gap: var(--mg-b-size-24);
  }

  &__title {
    margin: 0;
    font-family: var(--mg-b-font-family-heading);
    font-size: var(--mg-c-modal-title-font-size);
    font-weight: 600;
  }

  &__close-button {
    height: var(--mg-c-modal-title-font-size);
    margin-top: calc((var(--mg-b-size-min-height) - (var(--mg-c-modal-title-font-size) * var(--mg-b-line-height))) / 2 * -1); // -6px;
    margin-right: calc((var(--mg-b-size-min-height) - var(--mg-c-icon-size-medium)) / 2 * -1); // -10px;
    margin-left: var(--mg-b-size-16);
    float: right;
  }

  &__content {
    padding: var(--mg-b-size-16);
    margin: calc(var(--mg-b-size-16) * -1);
    overflow-y: auto;

    &::slotted(*) {
      font-size: var(--mg-c-modal-content-font-size);
    }
  }

  @include reset-slot-card-variables;
}
