@import 'mixins/reset-mg-card-slotted-variables';

:host {
  // Set mg-card variables
  --mg-c-card-border-radius: var(--mg-c-modal-border-radius);
  --mg-c-card-padding: 1.5rem 2.5rem;
  --mg-c-card-border: none;
}

.mg-c-modal {
  position: fixed;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: hsl(var(--mg-b-color-light-h) var(--mg-b-color-light-s) var(--mg-b-color-light-l) / 85%);
  inset: 0;

  mg-card {
    display: flex;
    width: 60rem;
    max-width: 100%;
    max-height: 100%;
  }

  &__dialog {
    position: relative;
    display: flex;
    height: fit-content;
    max-height: 100%;
    flex-direction: column;
    align-self: center;
    row-gap: 3rem;
  }

  &__header {
    margin-bottom: 0.5rem;
  }

  &__title {
    margin: 0;
    font-family: var(--mg-b-font-family-heading);
    font-size: var(--mg-c-modal-title-font-size);
    font-weight: 600;
  }

  &__close-button {
    height: var(--mg-c-modal-title-font-size);
    margin-top: calc((var(--mg-b-default-size) - (var(--mg-c-modal-title-font-size) * var(--mg-b-line-height))) / 2 * -1); // -6px;
    margin-right: calc((var(--mg-b-default-size) - var(--mg-c-icon-regular-size)) / 2 * -1); // -10px;
    float: right;
  }

  &__content {
    padding: 1rem;
    margin: -1rem;
    overflow-y: auto;

    &::slotted(*) {
      font-size: var(--mg-c-modal-content-font-size);
    }
  }

  @include reset-slot-card-variables;
}
