@use '../utils/a11y';

/*!
 * @prop --mg-c-menu-color-background: Defines the background color of the menu. Unset by default, fallback on `--mg-b-color-light`.
 */

:host {
  display: inline-flex;
  width: 100%;
  min-width: 0; // force flex items to shrink below their minimum content size
  background-color: var(--mg-c-menu-color-background, var(--mg-b-color-light));
}

:host([direction='vertical']) {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
}
