@use 'sass:map';
@import '../utils/a11y';
@import 'mixins/navigation-button';
@import 'mixins/mg-icon-animation';

/*!
 * @prop --mg-c-menu-item-color: Defines the color of the menu item. Unset by default, fallback on `var(--mg-b-color-dark)`.
 * @prop --mg-c-menu-item-focused-background-color: Defines the background color of the focused menu item. Default value is `color-mix(in srgb, var(--mg-b-color-dark), white 90%)`.
 * @prop --mg-c-menu-item-color-active: Defines the color of the active menu item. Default value is `--mg-b-color-app`.
 * @prop --mg-c-menu-item-border-color-active: Defines the border color of the active menu item. Default value is `var(--mg-b-color-app)`.
 * @prop --mg-c-menu-item-navigation-button-max-width: Defines the max-width property for the navigation button. Unset by default.
 */

$navigation-button-sizes: (
  'regular': (
    'vertical': var(--mg-b-size-3v),
    'horizontal': var(--mg-b-size-2w),
    'height': var(--mg-b-size-5w),
  ),
  'medium': (
    'vertical': var(--mg-b-size-3v),
    'horizontal': var(--mg-b-size-4w),
    'height': var(--mg-b-size-6w),
  ),
  'large': (
    'vertical': var(--mg-b-size-3v),
    'horizontal': var(--mg-b-size-5w),
    'height': var(--mg-b-size-9w),
  ),
);

@mixin level($button-sizes) {
  @each $name, $size in $button-sizes {
    // Building level from 1 to 6
    @for $i from 1 through 6 {
      :host([data-style-direction='vertical'][data-level='#{$i}']) {
        .mg-c-menu-item__navigation-button.mg-c-menu-item__navigation-button--size-#{$name} {
          padding-left: calc(#{$i} * #{map.get($size, 'horizontal')});
        }
      }
      :host([data-level='#{$i}']) {
        .mg-c-menu-item__collapse-container {
          z-index: #{calc($i * 10)};
        }
      }
    }
  }
}

@include navigation-button('mg-c-menu-item', $navigation-button-sizes);
@include level($navigation-button-sizes);

.mg-c-menu-item {
  max-width: var(--mg-c-menu-item-navigation-button-max-width);

  &__collapse-container {
    z-index: 10;
    width: max-content;
  }

  &__navigation-button {
    &-center {
      min-width: 0;
    }

    &-text-content {
      display: flex;
      width: 100%;
      align-items: center;

      &-notification,
      ::slotted([slot='information']) {
        margin-left: var(--mg-b-size-w);
        font-size: var(--mg-b-font-size);
      }
    }

    &-new-tab {
      margin-left: var(--mg-b-size-v);
    }

    &-chevron {
      display: var(--mg-c-menu-item-chevron-display);
      margin-left: auto;

      @include rotate('.mg-c-menu-item__navigation-button-chevron', 200ms);
    }
  }
}

:host {
  position: relative;
  display: flex;

  --mg-c-popover-padding-vertical: 0;
  --mg-c-popover-padding-horizontal: 0;
  --mg-c-popover-max-width: unset;
}

// vertical item style
:host([data-style-direction='vertical']) {
  flex-direction: column;

  .mg-c-menu-item {
    &__navigation-button {
      width: 100%;
    }

    &__collapse-container {
      position: unset;
      top: unset;
      left: unset;
      width: unset;
    }

    &-chevron {
      margin-left: auto;
    }
  }
}

// more menu-item element
:host([data-overflow-more]) {
  --mg-c-menu-item-navigation-button-column-gap: 0;

  .mg-c-menu-item__navigation-button {
    &-chevron {
      --mg-c-menu-item-chevron-display: none;
    }

    &-text-content ::slotted([slot='information']) {
      margin-left: 0;
    }
  }

  ::slotted(mg-menu) {
    --mg-c-menu-item-navigation-button-column-gap: var(--mg-b-size-w);
  }
}

// horizontal item style
:host([data-style-direction='horizontal']),
:host([data-overflow-more]) {
  .mg-c-menu-item__collapse-container.mg-c-menu-item__collapse-container--first-level {
    background-color: var(--mg-b-color-light);

    ::slotted(mg-menu) {
      padding: var(--mg-b-size-w) 0;
    }
  }
}

::slotted([slot='label']),
::slotted([slot='metadata']) {
  display: block;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::slotted(*) {
  display: flex;
  flex-direction: column;
}

// Prevent click propagation when disabled
:host([status='disabled']) {
  pointer-events: none;
}

// fix missing "hidden" style in browser
:host([hidden]) {
  display: none;
}
