@use '../functions' as functions;
@use 'mixins/reset-mg-card-slotted-variables';

$border-arrow-head: var(--mg-b-size-8) solid var(--mg-c-popover-color-background);
$border-arrow-side: calc(var(--mg-b-size-24) / 2) solid transparent;

:host {
  position: relative;
  z-index: 2000;
  display: none;
  padding: var(--mg-b-size-8);
  color: var(--mg-c-popover-color-text);
}

:host([data-show]) {
  display: block;
}

:host([data-popper-placement^='left-start']),
:host([data-popper-placement^='left-end']),
:host([data-popper-placement^='right-start']),
:host([data-popper-placement^='right-end']) {
  padding: 0 var(--mg-b-size-8);
}

.mg-c-popover-content {
  --mg-c-card-max-width: var(--mg-c-popover-max-width);
  --mg-c-card-min-width: var(--mg-c-popover-min-width);

  mg-button {
    margin-top: calc(-1 * ((var(--mg-b-size-min-height) - var(--mg-c-popover-title-font-size) * var(--mg-b-line-height)) / 2));
    margin-right: calc(-1 * ((var(--mg-b-size-min-height) - functions.get-icon-size('medium')) / 2));
    margin-left: var(--mg-b-size-32);
    float: right;
  }

  &__title ::slotted([slot='title']) {
    margin: 0 0 var(--mg-b-size-8) !important; /* stylelint-disable-line declaration-no-important */
    font-size: var(--mg-c-popover-title-font-size) !important; /* stylelint-disable-line declaration-no-important */
    font-weight: 600 !important; /* stylelint-disable-line declaration-no-important */
  }

  @include reset-mg-card-slotted-variables.reset-slot-card-variables;
}

/**
* Arrow hide
*/
:host([data-popper-placement^='top'][data-arrow-hide]) {
  padding-bottom: 0;
}

:host([data-popper-placement^='bottom'][data-arrow-hide]) {
  padding-top: 0;
}

:host([data-popper-placement$='end'][data-arrow-hide]),
:host([data-popper-placement^='left'][data-arrow-hide]) {
  padding-right: 0;
}

:host([data-popper-placement$='start'][data-arrow-hide]),
:host([data-popper-placement^='right'][data-arrow-hide]) {
  padding-left: 0;
}

/**
* Arrow style
*/
::slotted([slot='arrow']) {
  $width-value: calc(var(--mg-b-size-24) + 2 * var(--mg-c-card-border-radius) + 2 * var(--mg-b-size-8));
  $popover-position: calc(var(--mg-c-card-border-radius) + var(--mg-b-size-8));

  position: absolute;

  // Need to set the max size to ensure it will be well centered
  width: $width-value;
  height: $width-value;
  visibility: hidden;

  &::before {
    position: absolute;
    content: '';
    visibility: visible;
  }

  :host([data-arrow-hide]) & {
    display: none;
  }

  /**
  * Arrow position
  */
  :host([data-popper-placement^='top']) &,
  :host([data-popper-placement^='bottom']) & {
    height: var(--mg-b-size-8);

    &::before {
      left: $popover-position;
      border-right: $border-arrow-side;
      border-left: $border-arrow-side;
    }
  }

  :host([data-popper-placement^='top']) & {
    bottom: var(--mg-b-size-border);
    filter: drop-shadow(0 0.5rem 0.25rem color-mix(in srgb, var(--mg-b-color-dark), transparent 85%));

    &::before {
      border-top: $border-arrow-head;
    }
  }

  :host([data-popper-placement^='bottom']) & {
    top: var(--mg-b-size-border);
    filter: drop-shadow(0 -0.5rem 0.25rem color-mix(in srgb, var(--mg-b-color-dark), transparent 85%));

    &::before {
      border-bottom: $border-arrow-head;
    }
  }

  :host([data-popper-placement^='left']) &,
  :host([data-popper-placement^='right']) & {
    width: var(--mg-b-size-8);

    &::before {
      top: $popover-position;
      border-top: $border-arrow-side;
      border-bottom: $border-arrow-side;
    }
  }

  :host([data-popper-placement^='left']) & {
    right: var(--mg-b-size-border);
    filter: drop-shadow(0.5rem 0 0.25rem color-mix(in srgb, var(--mg-b-color-dark), transparent 85%));

    &::before {
      border-left: $border-arrow-head;
    }
  }

  :host([data-popper-placement^='right']) & {
    left: var(--mg-b-size-border);
    filter: drop-shadow(-0.5rem 0 0.25rem color-mix(in srgb, var(--mg-b-color-dark), transparent 85%));

    &::before {
      border-right: $border-arrow-head;
    }
  }

  :host([data-popper-placement^='left-start']) &,
  :host([data-popper-placement^='left-end']) &,
  :host([data-popper-placement^='right-start']) &,
  :host([data-popper-placement^='right-end']) & {
    $height-value: calc(var(--mg-b-size-24) + 2 * var(--mg-c-card-border-radius));

    height: $height-value;

    &::before {
      top: var(--mg-c-card-border-radius);
    }
  }
}
