:host {
  --mg-c-card-padding: var(--mg-c-popover-padding-vertical, var(--mg-b-size-2w)) var(--mg-c-popover-padding-horizontal, var(--mg-b-size-2w));
  --mg-c-card-border: none;
  --mg-c-card-border-radius: var(--mg-b-size-radius);
  --mg-c-card-background: var(--mg-c-popover-background-color);

  position: relative;
  display: contents;

  &::slotted(*) {
    display: inline-block;
  }
}
