@import 'mixins/reset-mg-card-slotted-variables';

/*!
 * @prop --mg-c-panel-border-radius: Defines the border radius of the panel. Default value: `--mg-b-size-radius`.
 * @prop --mg-c-panel-background: Defines the background of the panel. Default value: `color-mix(in srgb, var(--mg-b-color-info), white 97%)`.
 * @prop --mg-c-panel-box-shadow: Defines the box shadow of the panel. Default value: `--mg-b-box-shadow`.
 * @prop --mg-c-panel-content-padding: Defines the padding of the panel content. Default value: `--mg-b-size-2w`.
 */

:host {
  --mg-c-card-border: none;
  --mg-c-card-padding: 0;
  --mg-c-card-border-radius: var(--mg-c-panel-border-radius);
  --mg-c-card-background: var(--mg-c-panel-background);
  --mg-c-card-box-shadow: var(--mg-c-panel-box-shadow);
}

.mg-c-panel {
  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 var(--mg-b-size-v);
  }

  &__header-title,
  &__header-content {
    display: flex;
    margin: var(--mg-b-size-v) 0;
  }

  &__header-content {
    min-height: var(--mg-b-size-min-height);
    flex: 1 auto;
    align-items: center;
    padding-left: var(--mg-b-size-v);
  }

  &__header-title {
    mg-input-text {
      flex-grow: 1;
      margin-left: var(--mg-b-size-v);
    }

    mg-button + mg-button:not([slot='append-input']) {
      margin-left: var(--mg-b-size-v);
    }

    &.mg-c-panel__header-title--full {
      flex: 1 1 auto;
    }
  }

  &__collapse-button {
    &-content {
      --mg-b-font-size: var(--mg-b-font-size-h5);
      --mg-c-button-font-weight: 600;
    }

    &-icon.mg-c-panel__collapse-button-icon--reverse {
      transform: rotate(180deg);
    }
  }

  &__content {
    padding: var(--mg-c-panel-content-padding);
  }

  ::slotted([slot='header-right']) {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    gap: var(--mg-b-spacing-actions);
  }

  @include reset-slot-card-variables;
}
