/*!
 * @prop --mg-c-progress-border-radius: Defines the border radius of the progress bar. Default value is `--mg-b-size-32`.
 * @prop --mg-c-progress-bar-color-background: Defines the color of the progress bar. Default value is `--mg-b-color-neutral-30`.
 * @prop --mg-c-progress-fill-color-background: Defines the color of the progress bar fill background. Default value is `--mg-b-color-app`.
 */

.mg-c-progress {
  min-width: calc(var(--mg-b-size-16) * 4); // 64px

  &__bar {
    position: relative;
    overflow: hidden;
    height: var(--mg-b-size-8);
    box-sizing: content-box;
    border-width: var(--mg-b-size-4);
    border-style: solid;
    border-color: var(--mg-b-color-neutral-10);
    border-radius: var(--mg-c-progress-border-radius);
    background-color: var(--mg-c-progress-bar-color-background);
  }

  &__fill {
    height: 100%;
    border-radius: var(--mg-c-progress-border-radius);
    transition: width 1s;
  }

  &__bar.mg-c-progress__bar--active .mg-c-progress__fill {
    background-color: var(--mg-c-progress-fill-color-background);
    outline: var(--mg-b-color-neutral-10) solid var(--mg-b-size-4);
  }
}
