@use '../utils/a11y';

.mg-c-pagination {
  display: flex;
  align-items: center;
  gap: var(--mg-b-spacing-actions);

  &__page-count {
    display: flex;
    align-items: center;
    gap: var(--mg-b-size-4);
  }

  &.mg-c-pagination--hide-page-count {
    gap: 0;
  }
}
