@import '../utils/a11y';

$min-height: 3rem;
$border-size: 0.3rem;

.mg-c-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;

  mg-input-select {
    margin-right: 0.5rem;
  }

  mg-button {
    display: flex;

    &:first-of-type {
      margin-right: 1rem;
    }

    &:last-of-type {
      margin-left: 1rem;
    }
  }

  &.mg-c-pagination--hide-page-count mg-button {
    margin: 0;
  }
}
