@use '../utils/a11y';
@use '../base/typography';

.mg-c-table {
  // TODO: put variables in components custom properties after beta
  --mg-c-table-cell-spacing: var(--mg-b-size-8) var(--mg-b-size-16);
  --mg-c-table-cell-height: var(--mg-b-size-40);
  --mg-c-table-header-cell-height: calc(var(--mg-b-size-min-height) + 2 * var(--mg-b-size-8));

  overflow: hidden;
  border: var(--mg-b-size-border) solid var(--mg-b-color-neutral-30);
  border-radius: var(--mg-b-size-12);
  background: var(--mg-b-color-light);
  border-spacing: 0;
  color: var(--mg-b-color-dark);

  td,
  th {
    height: var(--mg-c-table-cell-height);
    box-sizing: border-box;
    padding: var(--mg-c-table-cell-spacing);
    text-align: start;
  }

  thead {
    height: var(--mg-c-table-header-cell-height);
  }

  thead,
  tfoot {
    background-color: var(--mg-b-color-neutral-10);
  }

  // Font weight for headers
  thead td,
  tfoot td,
  th {
    font-weight: 600;
  }

  tr {
    th,
    td {
      border-block-end: var(--mg-b-size-border) solid var(--mg-b-color-neutral-30);
    }
  }

  tfoot tr:last-of-type {
    th,
    td {
      border-block-end: none;
    }
  }

  /**
  * Sizes
  */
  &.mg-c-table--size-small {
    --mg-c-table-cell-spacing: var(--mg-b-size-4) var(--mg-b-size-16);
    --mg-c-table-cell-height: var(--mg-b-size-32);
    --mg-c-table-header-cell-height: var(--mg-b-size-32);
  }

  &.mg-c-table--size-large {
    --mg-c-table-cell-height: var(--mg-c-table-header-cell-height);
  }

  &.mg-c-table--size-xlarge {
    --mg-c-table-cell-spacing: var(--mg-b-size-12) var(--mg-b-size-16);
    --mg-c-table-cell-height: var(--mg-b-size-64);
    --mg-c-table-header-cell-height: var(--mg-b-size-64);
  }

  /**
  * full width
  */
  &.mg-c-table--full-width {
    width: 100%;
  }

  &-wrapper {
    overflow: auto;
  }

  /**
  * Sort
  */
  /* stylelint-disable no-descending-specificity -- keeping this down the file */
  thead td,
  thead th {
    position: relative;

    .mg-c-table__sort-button {
      display: inline-flex;
      align-items: center;
      padding: 0;
      border: none;
      margin: 0;
      background: none;
      color: inherit;
      font-size: inherit;
      font-weight: 600;
      gap: var(--mg-b-size-4);
      text-align: left;

      // Extend click area
      &::after {
        position: absolute;
        content: '';
        inset: 0;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &:has(.mg-c-table__sort-button):hover,
    &[aria-sort='descending'],
    &[aria-sort='ascending'] {
      background-color: var(--mg-b-color-neutral-20);
    }
  }
}
