@use 'mixins/navigation-button';

/*!
 * @prop --mg-c-tabs-color: Defines tabs global color, used for bottom line and active tabs. Default value: `--mg-b-color-app`.
 * @prop --mg-c-tabs-color-text: Defines tabs text color. Unset by default, fallback on `--mg-b-color-dark`.
 */

$navigation-button-sizes: (
  'medium': (
    'vertical': var(--mg-b-size-12),
    'horizontal': var(--mg-b-size-16),
  ),
  'large': (
    'vertical': var(--mg-b-size-16),
    'horizontal': var(--mg-b-size-32),
  ),
);

@include navigation-button.navigation-button('mg-c-tabs', $navigation-button-sizes);

.mg-c-tabs {
  &__header {
    display: flex;
    flex-flow: row wrap;
    border-bottom: var(--mg-b-size-border) solid color-mix(in srgb, var(--mg-c-tabs-color), transparent 90%);
  }

  &__content-container:focus-visible {
    outline: none;
  }

  &__navigation-button-text {
    flex: 0 0 content;
  }
}
