@import 'mixins/navigation-button';

/*!
 * @prop --mg-c-tabs-color-background-focus: Defines the background color of focused tabs. Default value: `color-mix(in srgb, var(--mg-b-color-app), transparent 90%)`.
 * @prop --mg-c-tabs-color-border-active: Defines the border color of active tabs. Default value: `--mg-b-color-app`.
 * @prop --mg-c-tabs-color-text-active: Defines the color of active tabs. Default value: `--mg-b-color-app`.
 * @prop --mg-c-tabs-border-bottom: Defines the bottom border of tabs. Default value: `--mg-b-border`.
 */

$navigation-button-sizes: (
  'medium': (
    'vertical': var(--mg-b-size-12),
    'horizontal': var(--mg-b-size-16),
  ),
  'large': (
    'vertical': var(--mg-b-size-16),
    'horizontal': var(--mg-b-size-32),
  ),
);

@include navigation-button('mg-c-tabs', $navigation-button-sizes);

.mg-c-tabs {
  &__header {
    display: flex;
    flex-flow: row wrap;
    border-bottom: var(--mg-c-tabs-border-bottom);
  }

  &__content-container:focus-visible {
    outline: none;
  }

  &__navigation-button-text {
    flex: 0 0 content;
  }
}
