/* Variables */
$mg-tag-border-width: 0.1rem;
$mg-tag-padding-horizontal: 0.7rem;

/* Mixins */
@mixin tag-variant($name, $backgroundColor, $color) {
  &.mg-c-tag--#{$name} {
    border-color: hsl(var(--color-#{$backgroundColor}));
    background-color: hsl(var(--color-#{$backgroundColor}));
    color: hsl(var(--color-#{$color}));

    &.mg-c-tag--outline {
      background-color: transparent;
      color: hsl(var(--color-#{$backgroundColor}));
    }

    &.mg-c-tag--soft {
      $fill-color: hsl(var(--color-#{$backgroundColor}-h) var(--color-#{$backgroundColor}-s) var(--mg-color-soft-l));

      border-color: $fill-color;
      background-color: $fill-color;
      color: hsl(var(--color-dark));
      font-weight: 400;

      ::slotted(mg-icon) {
        @if $name == 'secondary' {
          color: hsl(var(--color-dark));
        } @else {
          color: hsl(var(--color-#{$backgroundColor}));
        }
      }
    }
  }
}

:host {
  display: inline-block;
}

/* Styles */
.mg-c-tag {
  $padding-value: calc((var(--mg-tag-height) - (2 * $mg-tag-border-width) - (var(--mg-tag-font-size) * var(--line-height))) / 2) ($mg-tag-padding-horizontal - $mg-tag-border-width);

  display: inline-flex;
  min-height: var(--mg-tag-height);
  box-sizing: border-box;
  align-items: center;
  padding: $padding-value;
  border: $mg-tag-border-width solid;
  border-radius: var(--mg-tag-border-radius);
  font-size: var(--mg-tag-font-size);
  font-weight: 600;
  text-align: center;
  vertical-align: middle;

  // Variant
  @include tag-variant('primary', 'dark', 'light');
  @include tag-variant('secondary', 'light', 'dark');
  @include tag-variant('success', 'success', 'dark');
  @include tag-variant('warning', 'warning', 'dark');
  @include tag-variant('danger', 'danger', 'light');
  @include tag-variant('info', 'info', 'light');
}

::slotted(mg-icon) {
  margin-right: 0.4rem;
}

slot {
  display: inline-flex;
  align-items: center;
}
