/* Mixins */
@mixin tag-variant($name, $backgroundColor, $color) {
  &.mg-c-tag--#{$name} {
    border-color: var(--mg-b-color-#{$backgroundColor});
    background-color: var(--mg-b-color-#{$backgroundColor});
    color: var(--mg-b-color-#{$color});

    &.mg-c-tag--outline {
      background-color: transparent;
      color: var(--mg-b-color-#{$backgroundColor});
    }

    &.mg-c-tag--soft {
      $fill-color: hsl(var(--mg-b-color-#{$backgroundColor}-h) var(--mg-b-color-#{$backgroundColor}-s) var(--mg-b-color-soft-l));

      border-color: $fill-color;
      background-color: $fill-color;
      color: var(--mg-b-color-dark);
      font-weight: 400;

      ::slotted(mg-icon) {
        @if $name == 'secondary' {
          color: var(--mg-b-color-dark);
        } @else {
          color: var(--mg-b-color-#{$backgroundColor});
        }
      }
    }
  }
}

:host {
  display: inline-block;
}

/* Styles */
.mg-c-tag {
  $padding-vertical: calc((var(--mg-c-tag-height) - (2 * var(--mg-b-size-border)) - (var(--mg-c-tag-font-size) * var(--mg-b-line-height))) / 2);
  $padding-horizontal: calc(var(--mg-b-size-w) - var(--mg-b-size-border));

  display: inline-flex;
  min-height: var(--mg-c-tag-height);
  box-sizing: border-box;
  align-items: center;
  padding: $padding-vertical $padding-horizontal;
  border: var(--mg-b-size-border) solid;
  border-radius: var(--mg-c-tag-border-radius);
  font-size: var(--mg-c-tag-font-size);
  font-weight: 600;
  text-align: center;
  vertical-align: middle;

  // Variant
  @include tag-variant('primary', 'dark', 'light');
  @include tag-variant('secondary', 'light', 'dark');
  @include tag-variant('success', 'success', 'dark');
  @include tag-variant('warning', 'warning', 'dark');
  @include tag-variant('danger', 'danger', 'light');
  @include tag-variant('info', 'info', 'light');
}

::slotted(mg-icon) {
  margin-right: var(--mg-b-size-v);
}

slot {
  display: inline-flex;
  align-items: center;
}
