:host {
  z-index: 1000;
  display: none;
  max-width: var(--mg-b-size-floating-element-max-width);
  box-sizing: border-box;
  padding: var(--mg-b-size-v) var(--mg-b-size-w);
  border-radius: var(--mg-c-tooltip-border-radius);
  background-color: var(--mg-c-tooltip-background-color);
  color: var(--mg-c-tooltip-font-color);
  font-family: var(--mg-b-font-family);
  font-size: var(--mg-b-font-size);
  font-weight: 400;
  text-align: start;
}

:host([data-show]) {
  display: block;
}

::slotted([slot='arrow']) {
  visibility: hidden;

  &::before {
    content: '';
    transform: rotate(45deg);
    visibility: visible;
  }

  &,
  &::before {
    position: absolute;
    z-index: 9999;
    width: var(--mg-b-size-w);
    height: var(--mg-b-size-w);
    background-color: var(--mg-c-tooltip-background-color);
  }

  :host([data-popper-placement^='top']) > & {
    bottom: calc(-1 * var(--mg-b-size-v));
  }

  :host([data-popper-placement^='bottom']) > & {
    top: calc(-1 * var(--mg-b-size-v));
  }

  :host([data-popper-placement^='left']) > & {
    right: calc(-1 * var(--mg-b-size-v));
  }

  :host([data-popper-placement^='right']) > & {
    left: calc(-1 * var(--mg-b-size-v));
  }
}
