:host {
  z-index: 1000;
  display: none;
  max-width: 40rem;
  box-sizing: border-box;
  padding: 0.5rem 0.8rem;
  border-radius: var(--mg-c-tooltip-border-radius);
  background-color: var(--mg-c-tooltip-background-color);
  color: var(--mg-c-tooltip-font-color);
  font-family: var(--mg-b-font-family);
  font-size: var(--mg-b-font-size);
  font-weight: 400;
  text-align: start;
}

:host([data-show]) {
  display: block;
}

::slotted([slot='arrow']) {
  visibility: hidden;

  &::before {
    content: '';
    transform: rotate(45deg);
    visibility: visible;
  }

  &,
  &::before {
    position: absolute;
    z-index: 9999;
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--mg-c-tooltip-background-color);
  }

  :host([data-popper-placement^='top']) > & {
    bottom: -0.4rem;
  }

  :host([data-popper-placement^='bottom']) > & {
    top: -0.4rem;
  }

  :host([data-popper-placement^='left']) > & {
    right: -0.4rem;
  }

  :host([data-popper-placement^='right']) > & {
    left: -0.4rem;
  }
}
