:root {
  /**
    Base custom properties
  */

  /**
    Colors
    https://jira.mgdis.fr/browse/PDA9-690

    We are using HSL for colors.
    In some case we need to create a variant of a color, in this case we are using the h, s, or l parameters.
  */

  // Color Info
  --mg-b-color-info-h: 204;
  --mg-b-color-info-s: 100%;
  --mg-b-color-info-l: 30.6%;
  --mg-b-color-info: hsl(var(--mg-b-color-info-h) var(--mg-b-color-info-s) var(--mg-b-color-info-l));

  // Color Warning
  --mg-b-color-warning-h: 41;
  --mg-b-color-warning-s: 100%;
  --mg-b-color-warning-l: 62.2%;
  --mg-b-color-warning: hsl(var(--mg-b-color-warning-h) var(--mg-b-color-warning-s) var(--mg-b-color-warning-l));

  // Success
  --mg-b-color-success-h: 159;
  --mg-b-color-success-s: 66%;
  --mg-b-color-success-l: 51.6%;
  --mg-b-color-success: hsl(var(--mg-b-color-success-h) var(--mg-b-color-success-s) var(--mg-b-color-success-l));

  // Color Danger
  --mg-b-color-danger-h: 357;
  --mg-b-color-danger-s: 75%;
  --mg-b-color-danger-l: 49%;
  --mg-b-color-danger: hsl(var(--mg-b-color-danger-h) var(--mg-b-color-danger-s) var(--mg-b-color-danger-l));

  // Color Neutral
  --mg-b-color-neutral-h: 0;
  --mg-b-color-neutral-s: 0%;
  --mg-b-color-neutral-l: 99.6%;
  --mg-b-color-neutral: hsl(var(--mg-b-color-neutral-h) var(--mg-b-color-neutral-s) var(--mg-b-color-neutral-l));

  // Color Dark
  --mg-b-color-dark-h: 194;
  --mg-b-color-dark-s: 37.3%;
  --mg-b-color-dark-l: 13.1%;
  --mg-b-color-dark: hsl(var(--mg-b-color-dark-h) var(--mg-b-color-dark-s) var(--mg-b-color-dark-l));

  // Color dark-40
  --mg-b-color-dark-40: hsl(var(--mg-b-color-dark-h) 7% 43%);

  // Color dark-5
  --mg-b-color-dark-5: hsl(var(--mg-b-color-dark-h) 9% 96%);

  // Color dark-soft
  --mg-b-color-dark-soft: hsl(var(--mg-b-color-dark-h) var(--mg-b-color-dark-s) 90%);

  // Color Light
  --mg-b-color-light-h: 0;
  --mg-b-color-light-s: 0%;
  --mg-b-color-light-l: 100%;
  --mg-b-color-light: hsl(var(--mg-b-color-light-h) var(--mg-b-color-light-s) var(--mg-b-color-light-l));

  // Color App
  --mg-b-color-app-h: var(--mg-b-color-info-h);
  --mg-b-color-app-s: var(--mg-b-color-info-s);
  --mg-b-color-app-l: var(--mg-b-color-info-l);
  --mg-b-color-app: hsl(var(--mg-b-color-app-h) var(--mg-b-color-app-s) var(--mg-b-color-app-l));

  /* Primary */
  --mg-b-color-primary-h: var(--mg-b-color-dark-h);
  --mg-b-color-primary-s: var(--mg-b-color-dark-s);
  --mg-b-color-primary-l: var(--mg-b-color-dark-l);
  --mg-b-color-primary: var(--mg-b-color-dark);

  /* Secondary */
  --mg-b-color-secondary-h: var(--mg-b-color-neutral-h);
  --mg-b-color-secondary-s: var(--mg-b-color-neutral-s);
  --mg-b-color-secondary-l: var(--mg-b-color-neutral-l);
  --mg-b-color-secondary: var(--mg-b-color-neutral);

  /* Soft style */
  --mg-b-color-soft-l: 90%;

  /**
   Fonts
  */

  --mg-b-font-size: 1.3rem;
  --mg-b-line-height: 1.4;

  --mg-b-font-family: 'Open Sans', sans-serif; // Open Sans is used for the body (mostly all texts)
  --mg-b-font-family-heading: var(--mg-b-font-family); // Headings (h1 to h6) font can be customized

  --mg-b-color-font-light: var(--mg-b-color-light);
  --mg-b-color-font-dark: var(--mg-b-color-dark);

  /*
    Others
   */

  // Shadow
  --mg-b-box-shadow: 0 0.3rem 0.8rem 0 hsl(var(--mg-b-color-dark-h) var(--mg-b-color-dark-s) var(--mg-b-color-dark-l) / 15%);

  // default height for inputs and buttons
  --mg-b-default-size: 3.5rem;

  // Opacity for disabled elements
  --mg-b-disabled-opacity: 0.4;

  /**
    Components
  */

  // mg-icon
  --mg-c-icon-small-size: 1.2rem;
  --mg-c-icon-regular-size: 1.6rem;
  --mg-c-icon-medium-size: 2rem;
  --mg-c-icon-large-size: 2.4rem;
  --mg-c-icon-extra-large-size: 3.2rem;
  --mg-c-icon-border-radius: 50%;

  // mg-button
  --mg-c-button-border-radius: 0.3rem;
  --mg-c-button-icon-border-radius: var(--mg-b-default-size);
  --mg-c-button-disabled-opacity: var(--mg-b-disabled-opacity);
  --mg-c-button-gradient: 1; /* Can only be 1 or 0 to enable disable gradient */
  --mg-c-button-border-variation: 1; /* Can only be 1 or 0 to enable disable border variation */
  // mg-button Primary
  --mg-c-button-primary-color-h: var(--mg-b-color-dark-h);
  --mg-c-button-primary-color-s: var(--mg-b-color-dark-s);
  --mg-c-button-primary-color-l: var(--mg-b-color-dark-l);
  --mg-c-button-primary-font-color: var(--mg-b-color-neutral);
  // mg-button Secondary
  --mg-c-button-secondary-color-h: var(--mg-b-color-neutral-h);
  --mg-c-button-secondary-color-s: var(--mg-b-color-neutral-s);
  --mg-c-button-secondary-color-l: var(--mg-b-color-neutral-l);
  --mg-c-button-secondary-font-color: var(--mg-b-color-dark);

  // mg-tag
  --mg-c-tag-height: 2.3rem;
  --mg-c-tag-border-radius: 0.5rem;
  --mg-c-tag-font-size: 1.2rem;

  // mg-badge
  --mg-c-badge-size: 1.6rem;
  --mg-c-badge-font-size: 1.1rem;

  // mg-tooltip
  --mg-c-tooltip-border-radius: 0.5rem;
  --mg-c-tooltip-background-color: var(--mg-b-color-dark);
  --mg-c-tooltip-font-color: var(--mg-b-color-font-light);

  // mg-popover
  --mg-c-popover-background-color: var(--mg-b-color-light);
  --mg-c-popover-font-color: var(--mg-b-color-font-dark);
  --mg-c-popover-title-font-size: 1.4rem;
  --mg-c-popover-max-width: 40rem;

  // mg-message
  --mg-c-message-border-radius: 0.3rem;

  // mg-modal
  --mg-c-modal-border-radius: 0.5rem;
  --mg-c-modal-title-font-size: 1.8rem;
  --mg-c-modal-content-font-size: 1.2rem;

  // mg-panel
  --mg-c-panel-border-radius: 0.5rem;
  --mg-c-panel-background: hsl(var(--mg-b-color-info-h) var(--mg-b-color-info-s) calc(var(--mg-b-color-info-l) + 68%));
  --mg-c-panel-box-shadow: var(--mg-b-box-shadow);
  --mg-c-panel-content-padding: 1.5rem;

  // mg-illustrated-message
  --mg-c-illustrated-message-padding-vertical: 4rem;

  // mg-card
  --mg-c-card-padding-default: 1.6rem;
  --mg-c-card-border-radius-default: 0.5rem;
  --mg-c-card-background-default: var(--mg-b-color-light);
  --mg-c-card-border-default: 0.1rem solid hsl(var(--mg-b-color-dark-h) var(--mg-b-color-dark-s) var(--mg-b-color-dark-l) / 5%);
  --mg-c-card-box-shadow-default: var(--mg-b-box-shadow);

  // mg-divider
  --mg-c-divider-background-color: hsl(var(--mg-b-color-dark-h) var(--mg-b-color-dark-s) var(--mg-b-color-dark-l) / 15%);
  --mg-c-divider-thickness: 0.1rem;
  --mg-c-divider-vertical-spacing: 4rem;

  /*
    Layout
   */
  --mg-l-grid-spacing: 1rem;

  /*
    Forms
   */

  // mg-input-...
  --mg-c-input-border-width: 0.1rem;
  --mg-c-input-border-radius: 0.3rem;
  --mg-c-input-color: #b5c2c9;
  --mg-c-input-spacer: 1rem;

  /* Error message background */
  --mg-c-input-error-bg-color: hsl(var(--mg-b-color-danger-h) calc(var(--mg-b-color-danger-s) + 5%) calc(var(--mg-b-color-danger-l) + 49%));

  /* Input focus shadow */

  /* #b5c2c9 */

  /* rgb(0, 221, 255); */

  /* hsl(188, 100%, 50%); */
  --mg-c-input-color-shadow-focus: hsl(188 100% 50% / 50%);

  // mg-input-toggle
  --mg-c-input-toggle-border-radius-ratio: 2;

  // mg-input-checkbox
  --mg-c-input-check-size: 1.3rem;

  // mg-menu-item
  --mg-c-menu-item-focused-background-color: hsl(var(--mg-b-color-app-h) var(--mg-b-color-app-s) var(--mg-b-color-app-l) / 10%);
  --mg-c-menu-item-border-color-active: var(--mg-b-color-app);
  --mg-c-menu-item-color-active: var(--mg-b-color-app);

  // mg-tabs
  --mg-c-tabs-focused-background-color: hsl(var(--mg-b-color-app-h) var(--mg-b-color-app-s) var(--mg-b-color-app-l) / 10%);
  --mg-c-tabs-border-color-active: var(--mg-b-color-app);
  --mg-c-tabs-color-active: var(--mg-b-color-app);
  --mg-c-tabs-border-bottom: solid 0.1rem var(--mg-b-color-dark-soft);

  // mg-details
  --mg-c-details-spacing: 1.5rem;
}
