/**
 * Match semantic name to a color and palette value
 */
$semantics:
  'danger' 'red' 70,
  'info' 'blue' 80,
  'success' 'green' 60,
  'warning' 'yellow' 50;

/**
 * Define brand colors and palette values
 */
$brands:
  'primary' 'neutral' 110,
  'secondary' 'neutral' 10;

/**
 * Define the app color and palette value
 */
$app: 'app' 'blue' 80;

/**
 * Define neutral colors and palette values
 */
$neutrals:
  'dark' 110,
  'light' 0;

/**
 * Define the color palette index to use for light colors
 */
$palette-index-light: 20;

/**
 * Define color palettes
 */
$palettes: (
  'blue': (
    10: rgb(227 244 255),
    20: rgb(209 237 255),
    30: rgb(166 219 255),
    40: rgb(106 195 255),
    50: rgb(64 179 255),
    60: rgb(22 162 255),
    70: rgb(0 132 220),
    80: rgb(0 94 156),
    90: rgb(0 67 111),
    100: rgb(0 39 66),
  ),
  'green': (
    10: rgb(234 251 244),
    20: rgb(212 247 234),
    30: rgb(181 240 219),
    40: rgb(144 232 202),
    50: rgb(97 223 179),
    60: rgb(50 213 156),
    70: rgb(46 194 142),
    80: rgb(36 151 111),
    90: rgb(21 89 66),
    100: rgb(13 54 40),
  ),
  'red': (
    10: rgb(251 233 234),
    20: rgb(248 216 217),
    30: rgb(242 174 178),
    40: rgb(236 134 139),
    50: rgb(229 96 103),
    60: rgb(221 42 52),
    70: rgb(219 31 41),
    80: rgb(152 21 28),
    90: rgb(120 17 23),
    100: rgb(92 13 13),
  ),
  'yellow': (
    10: rgb(255 247 230),
    20: rgb(255 240 207),
    30: rgb(255 226 162),
    40: rgb(255 212 118),
    50: rgb(255 195 62),
    60: rgb(232 177 56),
    70: rgb(181 138 44),
    80: rgb(140 107 34),
    90: rgb(86 66 21),
    100: rgb(53 41 13),
  ),
  'neutral': (
    0: rgb(255 255 255),
    10: rgb(250 251 251),
    20: rgb(236 238 238),
    30: rgb(225 227 228),
    40: rgb(197 201 203),
    50: rgb(182 188 190),
    60: rgb(157 165 167),
    70: rgb(129 139 142),
    80: rgb(101 113 117),
    90: rgb(75 89 94),
    100: rgb(47 64 69),
    110: rgb(21 40 46),
    120: rgb(5 9 11),
  ),
);

/**
 * Defines the breakpoint for the input components.
 */
$mg-input-breakpoint: 768px; /* stylelint-disable-line unit-disallowed-list */
