/**
 Define variables
*/
:root {
  // Body
  --mg-body-font-size: 1.3rem;
  --mg-body-line-height: 1.4;

  // --mg-body-font-family: '';

  // Headings
  // --mg-heading-font-family: '';
  
  // Colors
  --mg-color-primary-hsl: '';
}
