@use '../variables' as variables;
@use '../functions' as functions;

/**
 * Base custom properties
 * Must start with `--mg-b-`
 */
:root {
  /**
   * Sizes
   */
  --mg-b-size-4: 0.4rem; // 4px
  --mg-b-size-8: 0.8rem; // 8px
  --mg-b-size-12: 1.2rem; // 12px
  --mg-b-size-16: 1.6rem; // 16px
  --mg-b-size-20: 2rem; // 20px
  --mg-b-size-24: 2.4rem; // 24px
  --mg-b-size-32: 3.2rem; // 32px
  --mg-b-size-40: 4rem; // 40px
  --mg-b-size-48: 4.8rem; // 48px
  --mg-b-size-56: 5.6rem; // 56px
  --mg-b-size-64: 6.4rem; // 64px
  --mg-b-size-72: 7.2rem; // 72px
  --mg-b-size-120: 12rem; // 120px
  --mg-b-size-border: 0.1rem; // 1px
  --mg-b-size-radius: var(--mg-b-size-4); // 4px
  --mg-b-size-floating-element-max-width: 40rem; // 400px

  // default height for inputs, buttons, and mg-message
  --mg-b-size-min-height: 3.5rem; // 35px

  /**
   * Spacings
   */

  --mg-b-spacing-actions: var(--mg-b-size-8); // 8px

  /**
   * Colors
   */

  /* Palettes */

  @each $palette, $indexes in variables.$palettes {
    @each $index, $color in $indexes {
      --mg-b-color-#{$palette}-#{$index}: #{$color};
    }
  }

  /* Neutral colors */

  @each $name, $index in variables.$neutrals {
    --mg-b-color-#{$name}: var(--mg-b-color-neutral-#{$index});
  }

  /* Semantic colors */

  @each $semantic, $palette, $index in variables.$semantics {
    --mg-b-color-#{$semantic}: var(--mg-b-color-#{$palette}-#{$index});
    --mg-b-color-text-on-#{$semantic}: #{if(functions.light-or-dark(functions.get-color($palette, $index)) == 'dark', 'var(--mg-b-color-light)', 'var(--mg-b-color-dark)')};
  }

  /* Brand colors */

  // App
  --mg-b-color-#{nth(variables.$app, 1)}: var(--mg-b-color-#{nth(variables.$app, 2)}-#{nth(variables.$app, 3)});

  // Brand
  @each $brand, $palette, $index in variables.$brands {
    --mg-b-color-#{$brand}: var(--mg-b-color-#{$palette}-#{$index});
    --mg-b-color-text-on-#{$brand}: #{if(functions.light-or-dark(functions.get-color($palette, $index)) == 'dark', 'var(--mg-b-color-light)', 'var(--mg-b-color-dark)')};
  }

  /**
   * Fonts
   */

  // Font sizes
  --mg-b-font-size: 1.3rem; // 13px
  --mg-b-font-size-small: 1.17rem; // 11.7px
  --mg-b-font-size-h1: calc(var(--mg-b-font-size) * 1.85); // 24.05px
  --mg-b-font-size-h2: calc(var(--mg-b-font-size) * 1.65); // 21.45px
  --mg-b-font-size-h3: calc(var(--mg-b-font-size) * 1.35); // 17.55px
  --mg-b-font-size-h4: calc(var(--mg-b-font-size) * 1.2); // 15.6px
  --mg-b-font-size-h5: calc(var(--mg-b-font-size) * 1.1); // 14.3px
  --mg-b-font-size-h6: calc(var(--mg-b-font-size) * 0.8); // 10.4px

  // the `<small>` tag reduces the font size to 90%.
  --mg-b-small-font-size: 0.9em;

  // Font family
  --mg-b-font-family: 'Open Sans', sans-serif; // Open Sans is used for the body (mostly all texts)
  --mg-b-font-family-heading: var(--mg-b-font-family); // Headings (h1 to h6) font can be customized

  // Line height
  --mg-b-line-height: 1.4;

  /**
   * Others
   */

  // Shadow
  --mg-b-box-shadow: 0 0.3rem 0.8rem 0 color-mix(in srgb, var(--mg-b-color-dark), transparent 85%);

  // Opacity for disabled elements
  --mg-b-opacity-element-disabled: 0.4;
}
