@use '../variables' as variables;
@use '../functions' as functions;

/**
 * Base custom properties
 * Must start with `--mg-b-`
 */
:root {
  /**
   * Sizes
   */
  --mg-b-size-v: 0.4rem; // 4px
  --mg-b-size-w: calc(2 * var(--mg-b-size-v)); // 8px
  --mg-b-size-3v: calc(3 * var(--mg-b-size-v)); // 12px
  --mg-b-size-2w: calc(2 * var(--mg-b-size-w)); // 16px
  --mg-b-size-5v: calc(5 * var(--mg-b-size-v)); // 20px
  --mg-b-size-3w: calc(3 * var(--mg-b-size-w)); // 24px
  --mg-b-size-4w: calc(4 * var(--mg-b-size-w)); // 32px
  --mg-b-size-5w: calc(5 * var(--mg-b-size-w)); // 40px
  --mg-b-size-6w: calc(6 * var(--mg-b-size-w)); // 48px
  --mg-b-size-7w: calc(7 * var(--mg-b-size-w)); // 56px
  --mg-b-size-8w: calc(8 * var(--mg-b-size-w)); // 64px
  --mg-b-size-9w: calc(9 * var(--mg-b-size-w)); // 72px
  --mg-b-size-15w: calc(15 * var(--mg-b-size-w)); // 120px
  --mg-b-size-border: 0.1rem; // 1px
  --mg-b-size-radius: var(--mg-b-size-v); // 4px
  --mg-b-size-floating-element-max-width: calc(50 * var(--mg-b-size-w)); // 400px

  // default height for inputs, buttons, and mg-message
  --mg-b-size-min-height: 3.5rem; // 35px

  /**
   * Spacings
   */

  --mg-b-spacing-actions: var(--mg-b-size-w); // 8px

  /**
   * Colors
   */

  /* Palettes */

  @each $palette, $indexes in variables.$palettes {
    @each $index, $color in $indexes {
      --mg-b-color-#{$palette}-#{$index}: #{$color};
    }
  }

  /* Neutral colors */

  @each $name, $index in variables.$neutrals {
    --mg-b-color-#{$name}: var(--mg-b-color-neutral-#{$index});
  }

  /* Semantic colors */

  @each $semantic, $palette, $index in variables.$semantics {
    --mg-b-color-#{$semantic}: var(--mg-b-color-#{$palette}-#{$index});
    --mg-b-color-#{$semantic}-text: #{if(functions.light-or-dark(functions.get-color($palette, $index)) == 'dark', 'var(--mg-b-color-light)', 'var(--mg-b-color-dark)')};
  }

  /* Brand colors */

  // App
  --mg-b-color-#{nth(variables.$app, 1)}: var(--mg-b-color-#{nth(variables.$app, 2)}-#{nth(variables.$app, 3)});

  // Brand
  @each $brand, $palette, $index in variables.$brands {
    --mg-b-color-#{$brand}: var(--mg-b-color-#{$palette}-#{$index});
    --mg-b-color-#{$brand}-text: #{if(functions.light-or-dark(functions.get-color($palette, $index)) == 'dark', 'var(--mg-b-color-light)', 'var(--mg-b-color-dark)')};
  }

  /**
   * Fonts
   */

  // Font sizes
  --mg-b-font-size: 1.3rem; // 13px
  --mg-b-font-size-h1: calc(var(--mg-b-font-size) * 1.85); // 24.05px
  --mg-b-font-size-h2: calc(var(--mg-b-font-size) * 1.65); // 21.45px
  --mg-b-font-size-h3: calc(var(--mg-b-font-size) * 1.35); // 17.55px
  --mg-b-font-size-h4: calc(var(--mg-b-font-size) * 1.2); // 15.6px
  --mg-b-font-size-h5: calc(var(--mg-b-font-size) * 1.1); // 14.3px
  --mg-b-font-size-h6: calc(var(--mg-b-font-size) * 0.8); // 10.4px
  --mg-b-font-size-small: 0.9em; // the `<small>` tag reduces the font size to 90%.

  // Font family
  --mg-b-font-family: 'Open Sans', sans-serif; // Open Sans is used for the body (mostly all texts)
  --mg-b-font-family-heading: var(--mg-b-font-family); // Headings (h1 to h6) font can be customized

  // Line height
  --mg-b-line-height: 1.4;

  /**
   * Others
   */

  // Shadow
  --mg-b-box-shadow: 0 0.3rem 0.8rem 0 color-mix(in srgb, var(--mg-b-color-dark), transparent 85%);

  // Opacity for disabled elements
  --mg-b-disabled-opacity: 0.4;
}
