@use 'anchor';

/**
 * Fonts
 * Open Sans
 * https://fonts.google.com/specimen/Open+Sans
 */

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
}

/**
 * Paragraph
 */

p {
  margin: 0;

  & + p {
    margin-top: var(--mg-b-size-8);
  }
}

/**
 * Headings
 */

/**
   * Utility class that applies heading styles.
   * It allows using heading visual styles without using a semantic heading tag.
   * 
   * @page Utilities
   * @selectors .mg-u-h{n}
   * @example
   * ```html
   * <h3 class="mg-u-h2">
   *   Heading 3 styled to look like a heading 2.
   * </h3>
   * <div role="heading" aria-level="2" class="mg-u-h2">
   *   Heading level 2 visually and semantically
   * </div>
   * ```
  */
@for $i from 1 through 6 {
  h#{$i},
  .mg-u-h#{$i} {
    font-family: var(--mg-b-font-family-heading);
    font-size: var(--mg-b-font-size-h#{$i});
    font-weight: bold;
  }
}

/**
 * Small
 */
small {
  font-size: var(--mg-b-small-font-size);
}

/**
 * Left text alignment utility.
 *
 * @page Utilities
 * @example 
 * ```html
 * <p class="mg-u-text-left">Left aligned text</p>
 * ```
 */

.mg-u-text-left {
  text-align: left !important; /* stylelint-disable-line declaration-no-important */
}

/**
 * Center text alignment utility.
 *
 * @page Utilities
 * @example 
 * ```html
 * <p class="mg-u-text-center">Center aligned text</p>
 * ```
 */

.mg-u-text-center {
  text-align: center !important; /* stylelint-disable-line declaration-no-important */
}

/**
 * Right text alignment utility.
 * 
 * @page Utilities
 * @example 
 * ```html
 * <p class="mg-u-text-right">Right aligned text</p>
 * ```
 */

.mg-u-text-right {
  text-align: right !important; /* stylelint-disable-line declaration-no-important */
}
