@use 'anchor';

/**
 * Fonts
 * Open Sans
 * https://fonts.google.com/specimen/Open+Sans
 */

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
}

/**
 * Paragraph
 */

p {
  margin: 0;

  & + p {
    margin-top: var(--mg-b-size-8);
  }
}

/**
 * Headings
 */

@for $i from 1 through 6 {
  /**
   * Utility class that applies the default `h#{$i}` typography styles.
   * It allows using `h#{$i}` visual styles without using a semantic heading tag.
   * 
   * @page Utilities
   * @example
   * ```html
   * <h#{($i % 6) + 1} class="mg-u-h#{$i}">
   *   Heading #{($i % 6) + 1} styled to look like a heading #{$i}.
   * </h#{($i % 6) + 1}>
   * <div role="heading" aria-level="#{$i}" class="mg-u-h#{$i}">
   *   Heading level #{$i} visually and semantically
   * </div>
   * ```
  */
  h#{$i},
  .mg-u-h#{$i} {
    font-family: var(--mg-b-font-family-heading);
    font-weight: bold;
  }
}

// h1
h1,
.mg-u-h1 {
  font-size: var(--mg-b-font-size-h1);
}

h2,
.mg-u-h2 {
  font-size: var(--mg-b-font-size-h2);
}

// h3
h3,
.mg-u-h3 {
  font-size: var(--mg-b-font-size-h3);
}

// h4
h4,
.mg-u-h4 {
  font-size: var(--mg-b-font-size-h4);
}

// h5
h5,
.mg-u-h5 {
  font-size: var(--mg-b-font-size-h5);
}

// h6
h6,
.mg-u-h6 {
  font-size: var(--mg-b-font-size-h6);
}

/**
 * Small
 */
small {
  font-size: var(--mg-b-small-font-size);
}

/**
 * Left text alignment utility.
 *
 * @page Utilities
 * @example 
 * ```html
 * <p class="mg-u-text-left">Left aligned text</p>
 * ```
 */

.mg-u-text-left {
  text-align: left !important; /* stylelint-disable-line declaration-no-important */
}

/**
 * Center text alignment utility.
 *
 * @page Utilities
 * @example 
 * ```html
 * <p class="mg-u-text-center">Center aligned text</p>
 * ```
 */

.mg-u-text-center {
  text-align: center !important; /* stylelint-disable-line declaration-no-important */
}

/**
 * Right text alignment utility.
 * 
 * @page Utilities
 * @example 
 * ```html
 * <p class="mg-u-text-right">Right aligned text</p>
 * ```
 */

.mg-u-text-right {
  text-align: right !important; /* stylelint-disable-line declaration-no-important */
}
