/**
 * Fonts
 * Open Sans
 * https://fonts.google.com/specimen/Open+Sans
 */

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('fonts/OpenSans-Bold.ttf') format('truetype');
}

/**
 * Paragraph
 */

p {
  margin: 0;

  & + p {
    margin-top: var(--mg-b-size-8);
  }
}

/**
   * Headings
   *
   * Classes can also be used on element to match attending, for exemples :
   * <h4 class="mg-u-h3">blu</h4>
   * <div role="heading" aria-level="4" class="mg-u-h4">blu</div>
   */

@for $i from 1 through 6 {
  h#{$i},
  .mg-u-h#{$i} {
    font-family: var(--mg-b-font-family-heading);
    font-weight: bold;
  }
}

// h1
h1,
.mg-u-h1 {
  font-size: var(--mg-b-font-size-h1);
}

// h2
h2,
.mg-u-h2 {
  font-size: var(--mg-b-font-size-h2);
}

// h3
h3,
.mg-u-h3 {
  font-size: var(--mg-b-font-size-h3);
}

// h4
h4,
.mg-u-h4 {
  font-size: var(--mg-b-font-size-h4);
}

// h5
h5,
.mg-u-h5 {
  font-size: var(--mg-b-font-size-h5);
}

// h6
h6,
.mg-u-h6 {
  font-size: var(--mg-b-font-size-h6);
}

/**
   * Links
   */
a {
  color: var(--mg-b-color-primary);
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

/**
  * Small
  */
small {
  font-size: var(--mg-b-small-font-size);
}
